Repository openmc-dev/openmc, pull requests merged in 2018-03, with the labels that each got.

#976 Implement depletion via Python
  .gitignore
  CMakeLists.txt
  docs/source/conf.py
  docs/source/io_formats/depletion_chain.rst
  docs/source/io_formats/depletion_results.rst
  docs/source/io_formats/index.rst
  docs/source/pythonapi/data.rst
  docs/source/pythonapi/deplete.rst
  docs/source/pythonapi/index.rst
  docs/source/usersguide/install.rst
  openmc/_utils.py
  openmc/capi/__init__.py
  openmc/checkvalue.py
  openmc/data/data.py
  openmc/data/decay.py
  openmc/data/endf.py
  openmc/deplete/__init__.py
  openmc/deplete/abc.py
  openmc/deplete/atom_number.py
  openmc/deplete/chain.py
  openmc/deplete/dummy_comm.py
  openmc/deplete/integrator/__init__.py
  openmc/deplete/integrator/cecm.py
  openmc/deplete/integrator/cram.py
  openmc/deplete/integrator/predictor.py
  openmc/deplete/nuclide.py
  openmc/deplete/operator.py
  openmc/deplete/reaction_rates.py
  openmc/deplete/results.py
  openmc/deplete/results_list.py
  openmc/material.py
  openmc/model/model.py
  scripts/openmc-make-depletion-chain
  src/api.F90
  src/tallies/tally_header.F90
  tests/chain_simple.xml
  tests/conftest.py
  tests/dummy_operator.py
  tests/regression_tests/example_geometry.py
  tests/regression_tests/test_deplete_full.py
  tests/regression_tests/test_reference.h5
  tests/unit_tests/conftest.py
  tests/unit_tests/test_capi.py
  tests/unit_tests/test_data_misc.py
  tests/unit_tests/test_deplete_atom_number.py
  tests/unit_tests/test_deplete_cecm.py
  tests/unit_tests/test_deplete_chain.py
  tests/unit_tests/test_deplete_cram.py
  tests/unit_tests/test_deplete_integrator.py
  tests/unit_tests/test_deplete_nuclide.py
  tests/unit_tests/test_deplete_predictor.py
  tests/unit_tests/test_deplete_reaction.py
  tests/unit_tests/test_deplete_resultslist.py
  tests/unit_tests/test_material.py
  tools/ci/travis-install.sh
Labels: Depletion, Python API

#979 Avoid segfault from unused nuclides in extra materials
  src/input_xml.F90
Labels: Bugs

#982 Delay openmc.capi import
  openmc/model/model.py
Labels: Python API

#983 Clean up the multipole file format
  CMakeLists.txt
  docs/source/io_formats/data_wmp.rst
  openmc/data/multipole.py
  src/input_xml.F90
  src/multipole.F90
  src/multipole_header.F90
  tests/unit_tests/test_data_multipole.py
Labels: Data
