Repository openmc-dev/openmc, pull requests merged in 2019-08, with the labels that each got.

#1312 Distribute reaction rates and densities when restarting under MPI
  openmc/deplete/operator.py
  openmc/deplete/results.py
  openmc/deplete/results_list.py
  tests/regression_tests/deplete/test.py
  tests/unit_tests/test_deplete_cecm.py
  tests/unit_tests/test_deplete_celi.py
  tests/unit_tests/test_deplete_cf4.py
  tests/unit_tests/test_deplete_epc_rk4.py
  tests/unit_tests/test_deplete_integrator.py
  tests/unit_tests/test_deplete_leqi.py
  tests/unit_tests/test_deplete_predictor.py
  tests/unit_tests/test_deplete_restart.py
  tests/unit_tests/test_deplete_resultslist.py
  tests/unit_tests/test_deplete_si_celi.py
  tests/unit_tests/test_deplete_si_leqi.py
  tests/unit_tests/test_transfer_volumes.py
Labels: Depletion

#1314 Provide validation for depletion chain
  docs/source/usersguide/scripts.rst
  openmc/deplete/chain.py
  openmc/deplete/nuclide.py
  scripts/casl_chain.py
  scripts/openmc-make-depletion-chain
  tests/unit_tests/test_deplete_chain.py
  tests/unit_tests/test_deplete_nuclide.py
Labels: Depletion

#1318 Get rid of MPI_REAL8 in state_point.cpp
  src/state_point.cpp
Labels: Bugs

#1319 Refactor depletion unit tests with parametrization
  tests/dummy_operator.py
  tests/unit_tests/test_deplete_cecm.py
  tests/unit_tests/test_deplete_celi.py
  tests/unit_tests/test_deplete_cf4.py
  tests/unit_tests/test_deplete_epc_rk4.py
  tests/unit_tests/test_deplete_integrator.py
  tests/unit_tests/test_deplete_leqi.py
  tests/unit_tests/test_deplete_predictor.py
  tests/unit_tests/test_deplete_restart.py
  tests/unit_tests/test_deplete_si_celi.py
  tests/unit_tests/test_deplete_si_leqi.py
Labels: Depletion, Test Suite

#1320 Reduce number of nuclides in some regression test
  tests/regression_tests/energy_laws/geometry.xml
  tests/regression_tests/energy_laws/inputs_true.dat
  tests/regression_tests/energy_laws/materials.xml
  tests/regression_tests/energy_laws/results_true.dat
  tests/regression_tests/energy_laws/settings.xml
  tests/regression_tests/energy_laws/test.py
  tests/regression_tests/filter_energyfun/inputs_true.dat
  tests/regression_tests/filter_energyfun/results_true.dat
  tests/regression_tests/filter_energyfun/test.py
  tests/regression_tests/filter_mesh/inputs_true.dat
  tests/regression_tests/filter_mesh/results_true.dat
  tests/regression_tests/filter_mesh/test.py
  tests/regression_tests/lattice_multiple/geometry.xml
  tests/regression_tests/lattice_multiple/inputs_true.dat
  tests/regression_tests/lattice_multiple/materials.xml
  tests/regression_tests/lattice_multiple/results_true.dat
  tests/regression_tests/lattice_multiple/settings.xml
  tests/regression_tests/lattice_multiple/test.py
  tests/regression_tests/mgxs_library_mesh/inputs_true.dat
  tests/regression_tests/mgxs_library_mesh/results_true.dat
  tests/regression_tests/mgxs_library_mesh/test.py
  tests/regression_tests/score_current/geometry.xml
  tests/regression_tests/score_current/inputs_true.dat
  tests/regression_tests/score_current/materials.xml
  tests/regression_tests/score_current/results_true.dat
  tests/regression_tests/score_current/settings.xml
  tests/regression_tests/score_current/tallies.xml
  tests/regression_tests/score_current/test.py
  tests/regression_tests/tally_aggregation/inputs_true.dat
  tests/regression_tests/tally_aggregation/results_true.dat
  tests/regression_tests/tally_aggregation/test.py
  tests/regression_tests/tally_arithmetic/inputs_true.dat
  tests/regression_tests/tally_arithmetic/results_true.dat
  tests/regression_tests/tally_arithmetic/test.py
  tests/regression_tests/tally_assumesep/geometry.xml
  tests/regression_tests/tally_assumesep/materials.xml
  tests/regression_tests/tally_assumesep/results_true.dat
  tests/regression_tests/tally_assumesep/settings.xml
  tests/regression_tests/tally_assumesep/tallies.xml
  tests/regression_tests/void/geometry.xml
  tests/regression_tests/void/inputs_true.dat
  tests/regression_tests/void/materials.xml
  tests/regression_tests/void/results_true.dat
  tests/regression_tests/void/settings.xml
  tests/regression_tests/void/test.py
  tests/testing_harness.py
Labels: Test Suite
