Repository openmc-dev/openmc, pull requests merged in 2019-04, with the labels that each got.

#1208 Faster evaluation of simple cell `contains`
  src/cell.cpp
Labels: Performance

#1209 Fix photon tally issues when using analog/collision estimators
  src/physics.cpp
  src/tallies/tally.cpp
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/results_true.dat
  tests/regression_tests/photon_production/test.py
Labels: Bugs, Tallies

#1210 Speed up find_cell searches for geometries with many z-planes
  include/openmc/cell.h
  include/openmc/surface.h
  src/cell.cpp
  src/geometry.cpp
  src/geometry_aux.cpp
Labels: Performance

#1218 Speeding up import of transport corrected cross sections
  openmc/mgxs/mgxs.py
  openmc/tallies.py
Labels: MGXS

#1203 Photon heating tally
  docs/source/io_formats/nuclear_data.rst
  docs/source/usersguide/tallies.rst
  include/openmc/constants.h
  include/openmc/particle.h
  include/openmc/photon.h
  include/openmc/string_utils.h
  openmc/capi/tally.py
  openmc/data/function.py
  openmc/data/photon.py
  src/cross_sections.cpp
  src/material.cpp
  src/output.cpp
  src/particle.cpp
  src/photon.cpp
  src/physics.cpp
  src/reaction.cpp
  src/string_utils.cpp
  src/tallies/tally.cpp
  src/tallies/tally_scoring.cpp
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/results_true.dat
  tests/regression_tests/photon_production/test.py
  tools/ci/download-xs.sh
Labels: Tallies
