Repository openmc-dev/openmc, pull requests merged in 2022-08, with the labels that each got.

#2139 `Material.add_components()` method
  openmc/material.py
  tests/unit_tests/test_material.py
Labels: Python API

#2135 Add ability to get sources from `Decay` class
  docs/source/pythonapi/data.rst
  openmc/data/decay.py
  openmc/stats/univariate.py
  tests/unit_tests/test_data_decay.py
  tests/unit_tests/test_stats.py
Labels: Data

#2100 Add class to allow running depletion simulation independent of the OpenMC transport solver
  docs/source/methods/depletion.rst
  docs/source/pythonapi/deplete.rst
  docs/source/usersguide/depletion.rst
  openmc/deplete/__init__.py
  openmc/deplete/abc.py
  openmc/deplete/atom_number.py
  openmc/deplete/chain.py
  openmc/deplete/coupled_operator.py
  openmc/deplete/helpers.py
  openmc/deplete/independent_operator.py
  openmc/deplete/integrators.py
  openmc/deplete/microxs.py
  openmc/deplete/openmc_operator.py
  openmc/deplete/operator.py
  openmc/deplete/results.py
  openmc/deplete/stepresult.py
  tests/micro_xs_simple.csv
  tests/regression_tests/deplete_no_transport/__init__.py
  tests/regression_tests/deplete_no_transport/test.py
  tests/regression_tests/deplete_no_transport/test_reference_fission_q.h5
  tests/regression_tests/deplete_no_transport/test_reference_source_rate.h5
  tests/regression_tests/deplete_with_transport/__init__.py
  tests/regression_tests/deplete_with_transport/example_geometry.py
  tests/regression_tests/deplete_with_transport/last_step_reference_materials.xml
  tests/regression_tests/deplete_with_transport/test.py
  tests/regression_tests/deplete_with_transport/test_reference.h5
  tests/regression_tests/microxs/__init.py__
  tests/regression_tests/microxs/test.py
  tests/regression_tests/microxs/test_reference.csv
  tests/unit_tests/test_deplete_coupled_operator.py
  tests/unit_tests/test_deplete_independent_operator.py
  tests/unit_tests/test_deplete_microxs.py
  tests/unit_tests/test_deplete_resultslist.py
Labels: Documentation, Depletion, Python API

#2147 Add a new "reduced" absorption MGXS type
  docs/source/pythonapi/mgxs.rst
  openmc/deplete/microxs.py
  openmc/mgxs/mgxs.py
  tests/regression_tests/mgxs_library_condense/inputs_true.dat
  tests/regression_tests/mgxs_library_condense/results_true.dat
  tests/regression_tests/mgxs_library_distribcell/inputs_true.dat
  tests/regression_tests/mgxs_library_distribcell/results_true.dat
  tests/regression_tests/mgxs_library_hdf5/inputs_true.dat
  tests/regression_tests/mgxs_library_hdf5/results_true.dat
  tests/regression_tests/mgxs_library_mesh/inputs_true.dat
  tests/regression_tests/mgxs_library_mesh/results_true.dat
  tests/regression_tests/mgxs_library_no_nuclides/inputs_true.dat
  tests/regression_tests/mgxs_library_no_nuclides/results_true.dat
  tests/regression_tests/mgxs_library_nuclides/inputs_true.dat
  tests/regression_tests/mgxs_library_nuclides/results_true.dat
Labels: MGXS

#2158 `IndependentOperator` hotfix
  docs/source/pythonapi/deplete.rst
  docs/source/usersguide/depletion.rst
  openmc/deplete/abc.py
  openmc/deplete/helpers.py
  openmc/deplete/independent_operator.py
  openmc/deplete/microxs.py
  openmc/deplete/openmc_operator.py
  openmc/deplete/results.py
  tests/micro_xs_simple.csv
  tests/regression_tests/deplete_no_transport/test.py
  tests/regression_tests/deplete_no_transport/test_reference_coupled_days.h5
  tests/regression_tests/deplete_no_transport/test_reference_coupled_hours.h5
  tests/regression_tests/deplete_no_transport/test_reference_coupled_minutes.h5
  tests/regression_tests/deplete_no_transport/test_reference_coupled_months.h5
  tests/regression_tests/deplete_no_transport/test_reference_fission_q.h5
  tests/regression_tests/deplete_no_transport/test_reference_source_rate.h5
Labels: Performance, Documentation

#2175 CMake command fixes for libmesh and dagmc
  docs/source/usersguide/install.rst
Labels: Approximations, Documentation
