Repository openmc-dev/openmc, pull requests merged in 2025-02, with the labels that each got.

#3287 Fix Tabular.from_xml_element for histogram case
  openmc/stats/univariate.py
  src/distribution.cpp
  tests/unit_tests/test_stats.py
Labels: Merging Soon

#3288 Random Ray Source Region Refactor
  CMakeLists.txt
  include/openmc/openmp_interface.h
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Labels: Random Ray

#3138 Adding tmate action to CI for debugging
  .github/workflows/ci.yml
  docs/source/devguide/tests.rst
Labels: Test Suite

#3298 Random ray consistency changes
  openmc/settings.py
  src/random_ray/flat_source_domain.cpp
  tests/regression_tests/random_ray_adjoint_k_eff/results_true.dat
Labels: I/O, Random Ray

#2655 Raytrace plots
  docs/source/_images/phong_triso.png
  docs/source/io_formats/plots.rst
  docs/source/pythonapi/base.rst
  docs/source/releasenotes/0.14.0.rst
  docs/source/usersguide/plots.rst
  include/openmc/cell.h
  include/openmc/dagmc.h
  include/openmc/particle.h
  include/openmc/particle_data.h
  include/openmc/plot.h
  include/openmc/position.h
  include/openmc/surface.h
  openmc/_xml.py
  openmc/model/model.py
  openmc/plots.py
  src/dagmc.cpp
  src/particle.cpp
  src/particle_data.cpp
  src/plot.cpp
  src/position.cpp
  src/surface.cpp
  tests/regression_tests/plot_projections/plots.xml
  tests/regression_tests/plot_projections/results_true.dat
  tests/regression_tests/plot_projections/test.py
  tests/unit_tests/test_plots.py
Labels: Plots

#3299 Random Ray Explicit Void Treatment
  include/openmc/random_ray/random_ray.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
  tests/regression_tests/random_ray_void/__init__.py
  tests/regression_tests/random_ray_void/flat/inputs_true.dat
  tests/regression_tests/random_ray_void/flat/results_true.dat
  tests/regression_tests/random_ray_void/linear/inputs_true.dat
  tests/regression_tests/random_ray_void/linear/results_true.dat
  tests/regression_tests/random_ray_void/test.py
Labels: Random Ray

#3268 Randomized Quasi-Monte Carlo Sampling in The Random Ray Method
  docs/source/io_formats/settings.rst
  docs/source/usersguide/random_ray.rst
  include/openmc/constants.h
  include/openmc/random_dist.h
  include/openmc/random_ray/random_ray.h
  openmc/settings.py
  src/random_dist.cpp
  src/random_ray/random_ray.cpp
  src/settings.cpp
  tests/regression_tests/random_ray_halton_samples/__init__.py
  tests/regression_tests/random_ray_halton_samples/inputs_true.dat
  tests/regression_tests/random_ray_halton_samples/results_true.dat
  tests/regression_tests/random_ray_halton_samples/test.py
Labels: Random Ray

#3316 Random Ray Void Accuracy Fix
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  tests/regression_tests/random_ray_void/flat/results_true.dat
  tests/regression_tests/random_ray_void/linear/results_true.dat
Labels: Bugs, Random Ray

#3313 Fix access order issues after applying tally results from `Model.run`.
  openmc/statepoint.py
  openmc/tallies.py
  tests/unit_tests/test_tallies.py
Labels: Tallies

#3322 Random Ray Linear Source Stability Improvement
  src/random_ray/linear_source_domain.cpp
  tests/regression_tests/random_ray_fixed_source_linear/linear/results_true.dat
  tests/regression_tests/random_ray_fixed_source_linear/linear_xy/results_true.dat
  tests/regression_tests/random_ray_fixed_source_subcritical/linear_xy/results_true.dat
  tests/regression_tests/random_ray_fixed_source_subcritical/test.py
  tests/regression_tests/random_ray_void/linear/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/hybrid/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/naive/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/simulation_averaged/results_true.dat
Labels: Random Ray

#3129 Compute material volumes in mesh elements based on raytracing
  docs/source/pythonapi/base.rst
  include/openmc/bounding_box.h
  include/openmc/capi.h
  include/openmc/mesh.h
  openmc/lib/mesh.py
  openmc/mesh.py
  src/mesh.cpp
  src/particle.cpp
  tests/unit_tests/test_lib.py
  tests/unit_tests/test_mesh.py
Labels: Merging Soon
