Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

working on fixing it so it works with c5g7 and tokamak
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

Random ray consistency changes (#3298)
  openmc/settings.py
  src/random_ray/flat_source_domain.cpp
  tests/regression_tests/random_ray_adjoint_k_eff/results_true.dat
Owners: @jtramm

ran git clang-format develop
  src/random_ray/random_ray.cpp
Owners: @jtramm

pip install ncrystal
  tools/ci/gha-install.py
  tools/ci/gha-script.sh
Owners: none

include xtensor norm + update comments
  src/hex_mesh.cpp
Owners: none

add basis vectors and plane normals
  include/openmc/hex_mesh.h
  src/hex_mesh.cpp
Owners: none

WIP - have realized we need a special raytracer for this siutation
  src/hex_mesh.cpp
Owners: none

placeholder comments
  src/hex_mesh.cpp
Owners: none

Relax requirement on polar/azimuthal axis for wwinp conversion
  openmc/weight_windows.py
Owners: @pshriwise

Documentation fixes
  docs/source/usersguide/plots.rst
  openmc/plots.py
Owners: none

A few more naming fixes
  docs/source/io_formats/plots.rst
  openmc/plots.py
  src/plot.cpp
Owners: @pshriwise

Raytrace plots (#2655)
  docs/source/_images/phong_triso.png
  docs/source/io_formats/plots.rst
  docs/source/pythonapi/base.rst
  docs/source/releasenotes/0.14.0.rst
  docs/source/usersguide/plots.rst
  include/openmc/cell.h
  include/openmc/dagmc.h
  include/openmc/particle.h
  include/openmc/particle_data.h
  include/openmc/plot.h
  include/openmc/position.h
  include/openmc/surface.h
  openmc/_xml.py
  openmc/model/model.py
  openmc/plots.py
  src/dagmc.cpp
  src/particle.cpp
  src/particle_data.cpp
  src/plot.cpp
  src/position.cpp
  src/surface.cpp
  tests/regression_tests/plot_projections/plots.xml
  tests/regression_tests/plot_projections/results_true.dat
  tests/regression_tests/plot_projections/test.py
  tests/unit_tests/test_plots.py
Owners: @pshriwise

Fix cylindrical/spherical-mesh wwinp files
  tests/regression_tests/weightwindows/ww_n_cyl.txt
  tests/regression_tests/weightwindows/ww_n_sph.txt
Owners: none

added some comments to explain SourceRegion fields
  include/openmc/random_ray/source_region.h
Owners: none

Use Doxygen format for data member comments
  include/openmc/random_ray/source_region.h
Owners: none

applying naive estimator to small SRs does the trick
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

no need for handle small SR function anymore. Simplified logic moved into add_src_to_scalar_flux
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray_simulation.cpp
Owners: @jtramm

Random Ray Explicit Void Treatment (#3299)
  include/openmc/random_ray/random_ray.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
  tests/regression_tests/random_ray_void/__init__.py
  tests/regression_tests/random_ray_void/flat/inputs_true.dat
  tests/regression_tests/random_ray_void/flat/results_true.dat
  tests/regression_tests/random_ray_void/linear/inputs_true.dat
  tests/regression_tests/random_ray_void/linear/results_true.dat
  tests/regression_tests/random_ray_void/test.py
Owners: @jtramm

replaced std::vector with openmc::vector for consistency
  src/random_ray/random_ray.cpp
Owners: @jtramm

Randomized Quasi-Monte Carlo Sampling in The Random Ray Method (#3268)
  docs/source/io_formats/settings.rst
  docs/source/usersguide/random_ray.rst
  include/openmc/constants.h
  include/openmc/random_dist.h
  include/openmc/random_ray/random_ray.h
  openmc/settings.py
  src/random_dist.cpp
  src/random_ray/random_ray.cpp
  src/settings.cpp
  tests/regression_tests/random_ray_halton_samples/__init__.py
  tests/regression_tests/random_ray_halton_samples/inputs_true.dat
  tests/regression_tests/random_ray_halton_samples/results_true.dat
  tests/regression_tests/random_ray_halton_samples/test.py
Owners: @jtramm

Relax requirement on polar/azimuthal axis for wwinp conversion (#3307)
  openmc/weight_windows.py
  tests/regression_tests/weightwindows/ww_n_cyl.txt
  tests/regression_tests/weightwindows/ww_n_sph.txt
Owners: @pshriwise

simplify mechanism to detect if geometry entity is DAG (#3269)
  include/openmc/cell.h
  include/openmc/dagmc.h
  include/openmc/surface.h
  include/openmc/universe.h
  src/cell.cpp
  src/dagmc.cpp
  src/surface.cpp
Owners: @pshriwise

Revert most changes and leave component_surfaces properties
  openmc/filter.py
  openmc/model/surface_composite.py
  tests/unit_tests/test_filters.py
Owners: none

Add nuclides_to_ignore argument on Model export methods
  openmc/model/model.py
Owners: none

some experimentation
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

Enable overlap plotting from Python API.
  openmc/model/model.py
  openmc/plots.py
  tests/unit_tests/test_model.py
Owners: none

Improve test
  tests/unit_tests/test_model.py
Owners: none

Adding test for export of model with nuclides to ignore
  tests/unit_tests/test_model.py
Owners: none

Do not import matplotlib
  tests/unit_tests/test_model.py
Owners: none

experiments
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

Add nuclides_to_ignore argument on Model export methods (#3309)
  openmc/model/model.py
  tests/unit_tests/test_model.py
Owners: none

Don't use PROJECT_ variable names
  CMakeLists.txt
  cmake/Modules/GetVersionFromGit.cmake
  include/openmc/version.h.in
Owners: none

Get rid of unused variables
  CMakeLists.txt
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

Fix fetch-depth
  .github/workflows/ci.yml
Owners: none

Set fetch-depth to 0 as before
  .github/workflows/ci.yml
Owners: none

changed to 1.5 min hit
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

Streamline use of CompositeSurface with SurfaceFilter (#3167)
  openmc/model/surface_composite.py
Owners: none

Address @eepeterson review comments
  openmc/deplete/abc.py
  openmc/deplete/d1s.py
Owners: @paulromano

Remove use of gsl-lite
  include/openmc/tallies/filter_parent_nuclide.h
  src/tallies/filter_parent_nuclide.cpp
Owners: none

Add decorator for Tally properties that read from statepoint files. Make _sp_filename a Path.
  openmc/statepoint.py
  openmc/tallies.py
  tests/unit_tests/test_tallies.py
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
