Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

Make more use of C_NONE for un-initalized ids
  src/material.cpp
  src/tallies/filter.cpp
  src/tallies/tally.cpp
Owners: none

Make more use of C_NONE for un-initalized ids
  src/material.cpp
  src/tallies/filter.cpp
  src/tallies/tally.cpp
Owners: none

fixed broken stuff from prn interface changes
  include/openmc/geometry.h
  include/openmc/particle.h
  include/openmc/simulation.h
  src/physics.cpp
  src/simulation.cpp
Owners: none

fixed broken stuff from prn interface changes
  include/openmc/geometry.h
  include/openmc/particle.h
  include/openmc/simulation.h
  src/physics.cpp
  src/simulation.cpp
Owners: none

incorporated code review changes
  include/openmc/particle.h
  include/openmc/random_lcg.h
  src/bremsstrahlung.cpp
  src/eigenvalue.cpp
  src/nuclide.cpp
  src/particle.cpp
  src/photon.cpp
  src/physics.cpp
  src/physics_common.cpp
  src/physics_mg.cpp
  src/random_lcg.cpp
  src/secondary_thermal.cpp
  src/source.cpp
  src/volume_calc.cpp
Owners: @amandalund, @nelsonag

incorporated code review changes
  include/openmc/particle.h
  include/openmc/random_lcg.h
  src/bremsstrahlung.cpp
  src/eigenvalue.cpp
  src/nuclide.cpp
  src/particle.cpp
  src/photon.cpp
  src/physics.cpp
  src/physics_common.cpp
  src/physics_mg.cpp
  src/random_lcg.cpp
  src/secondary_thermal.cpp
  src/source.cpp
  src/volume_calc.cpp
Owners: @amandalund, @nelsonag

refactor seed and seed aray variable names
  src/random_lcg.cpp
Owners: none

refactor seed and seed aray variable names
  src/random_lcg.cpp
Owners: none

Cosmetic fixes from PullRequest [2019-12-05]
  Dockerfile
  openmc/_xml.py
  openmc/cell.py
  openmc/checkvalue.py
  openmc/cmfd.py
  openmc/data/grid.py
  openmc/data/laboratory.py
  openmc/data/library.py
  openmc/data/neutron.py
  openmc/data/photon.py
  openmc/data/product.py
  openmc/deplete/chain.py
  openmc/deplete/reaction_rates.py
  openmc/element.py
  openmc/examples.py
  openmc/lattice.py
  openmc/mgxs/mdgxs.py
  openmc/plots.py
  openmc/plotter.py
  openmc/tallies.py
  openmc/universe.py
  scripts/casl_chain.py
  scripts/openmc-ace-to-hdf5
  scripts/openmc-get-photon-data
  scripts/openmc-make-compton
  scripts/openmc-make-depletion-chain
  scripts/openmc-make-depletion-chain-casl
  scripts/openmc-make-test-data
  scripts/openmc-plot-mesh-tally
  scripts/openmc-update-inputs
  scripts/openmc-update-mgxs
  src/cross_sections.cpp
  src/distribution_energy.cpp
  src/geometry.cpp
  src/output.cpp
  src/particle.cpp
  src/tallies/derivative.cpp
  src/tallies/filter_cell.cpp
  src/tallies/tally_scoring.cpp
Owners: @shikhar413, @paulromano, @amandalund, @drewejohnson

Cosmetic fixes from PullRequest [2019-12-05]
  Dockerfile
  openmc/_xml.py
  openmc/cell.py
  openmc/checkvalue.py
  openmc/cmfd.py
  openmc/data/grid.py
  openmc/data/laboratory.py
  openmc/data/library.py
  openmc/data/neutron.py
  openmc/data/photon.py
  openmc/data/product.py
  openmc/deplete/chain.py
  openmc/deplete/reaction_rates.py
  openmc/element.py
  openmc/examples.py
  openmc/lattice.py
  openmc/mgxs/mdgxs.py
  openmc/plots.py
  openmc/plotter.py
  openmc/tallies.py
  openmc/universe.py
  scripts/casl_chain.py
  scripts/openmc-ace-to-hdf5
  scripts/openmc-get-photon-data
  scripts/openmc-make-compton
  scripts/openmc-make-depletion-chain
  scripts/openmc-make-depletion-chain-casl
  scripts/openmc-make-test-data
  scripts/openmc-plot-mesh-tally
  scripts/openmc-update-inputs
  scripts/openmc-update-mgxs
  src/cross_sections.cpp
  src/distribution_energy.cpp
  src/geometry.cpp
  src/output.cpp
  src/particle.cpp
  src/tallies/derivative.cpp
  src/tallies/filter_cell.cpp
  src/tallies/tally_scoring.cpp
Owners: @shikhar413, @paulromano, @amandalund, @drewejohnson

Update travis-install.py
  tools/ci/travis-install.py
Owners: none

Update travis-install.py
  tools/ci/travis-install.py
Owners: none

Remove automatic handling of subneighbors in recursive LNS
  openmc/lattice.py
  tests/unit_tests/test_lattice_discretization.py
Owners: none

Remove automatic handling of subneighbors in recursive LNS
  openmc/lattice.py
  tests/unit_tests/test_lattice_discretization.py
Owners: none

Improve comments
  openmc/lattice.py
Owners: none

Improve comments
  openmc/lattice.py
Owners: none

Fix a number of problems related to photoatomic data
  openmc/data/photon.py
  src/photon.cpp
Owners: @amandalund

Fix a number of problems related to photoatomic data
  openmc/data/photon.py
  src/photon.cpp
Owners: @amandalund

Moved seed accessor functions into header. Changed python rotate_angle default seed generation technique.
  include/openmc/particle.h
  openmc/lib/math.py
  src/particle.cpp
Owners: @paulromano

Moved seed accessor functions into header. Changed python rotate_angle default seed generation technique.
  include/openmc/particle.h
  openmc/lib/math.py
  src/particle.cpp
Owners: @paulromano

Update openmc/tallies.py
  openmc/tallies.py
Owners: none

Update openmc/tallies.py
  openmc/tallies.py
Owners: none

Update scripts/openmc-get-photon-data
  scripts/openmc-get-photon-data
Owners: none

Update scripts/openmc-get-photon-data
  scripts/openmc-get-photon-data
Owners: none

Update scripts/openmc-make-compton
  scripts/openmc-make-compton
Owners: none

Update scripts/openmc-make-compton
  scripts/openmc-make-compton
Owners: none

Update src/tallies/filter_cell.cpp
  src/tallies/filter_cell.cpp
Owners: none

Update src/tallies/filter_cell.cpp
  src/tallies/filter_cell.cpp
Owners: none

Update openmc/data/grid.py
  openmc/data/grid.py
Owners: @paulromano

Update openmc/data/grid.py
  openmc/data/grid.py
Owners: @paulromano

Update travis-install.py
  tools/ci/travis-install.py
Owners: none

Update travis-install.py
  tools/ci/travis-install.py
Owners: none

Update tally_scoring.cpp
  src/tallies/tally_scoring.cpp
Owners: none

Update tally_scoring.cpp
  src/tallies/tally_scoring.cpp
Owners: none

fixed other python math function default seed value generation technique.
  openmc/lib/math.py
Owners: @paulromano

fixed other python math function default seed value generation technique.
  openmc/lib/math.py
Owners: @paulromano

Update lattice.py
  openmc/lattice.py
Owners: none

Update lattice.py
  openmc/lattice.py
Owners: none

Fix examples in FissionYield[Distribution] docstring
  openmc/deplete/nuclide.py
Owners: @drewejohnson

Fix examples in FissionYield[Distribution] docstring
  openmc/deplete/nuclide.py
Owners: @drewejohnson

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer
