Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

Apply suggestions from @yardasol code review
  docs/source/methods/variance_reduction.rst
  docs/source/usersguide/variance_reduction.rst
Owners: none

Fix versionadded directives
  openmc/tallies.py
Owners: none

updates to docs incorporating @yardasol review comments`
  docs/source/methods/variance_reduction.rst
  docs/source/usersguide/random_ray.rst
  docs/source/usersguide/variance_reduction.rst
Owners: none

docs typo fix
  docs/source/usersguide/random_ray.rst
Owners: none

Get rid of redundant call to apply_weight_windows
  src/physics_mg.cpp
  tests/unit_tests/weightwindows/test_ww_mg.py
Owners: @nelsonag, @pshriwise

Fix issues with use of openmc.Nuclide
  openmc/arithmetic.py
  openmc/cell.py
  openmc/mgxs/mgxs.py
  openmc/tallies.py
  openmc/universe.py
  tests/regression_tests/source/test.py
Owners: none

Adding a section to the docs on using tmate to debug CI failures
  docs/source/devguide/tests.rst
Owners: none

Simplify usage of emplace_back()
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/track_output.cpp
  tests/unit_tests/weightwindows/test.py
Owners: @nelsonag, @pshriwise

Edits in documentation
  docs/source/methods/variance_reduction.rst
  docs/source/usersguide/variance_reduction.rst
Owners: none

Add test for flux bias with weight windows in multigroup mode (#3202)
  src/physics_mg.cpp
  tests/unit_tests/weightwindows/test_ww_mg.py
  tests/unit_tests/weightwindows/ww_mg.txt
Owners: @nelsonag, @pshriwise

Small fixes
  docs/source/io_formats/settings.rst
Owners: none

Cache optimization and ifp convenience methods
  openmc/model/model.py
Owners: none

Recommit
  openmc/statepoint.py
Owners: none

Cache optimization and ifp convenience methods
  openmc/model/model.py
  openmc/statepoint.py
Owners: none

Small changes
  docs/source/usersguide/variance_reduction.rst
  tests/regression_tests/weightwindows_fw_cadis/test.py
  tests/testing_harness.py
Owners: none

Adding methods to automatically apply results to existing Tally objects. (#2671)
  openmc/arithmetic.py
  openmc/cell.py
  openmc/mgxs/mgxs.py
  openmc/model/model.py
  openmc/statepoint.py
  openmc/tallies.py
  openmc/universe.py
  tests/regression_tests/source/test.py
  tests/unit_tests/test_tallies.py
Owners: none

Adjust for secondary particle energy directly in heating scores (#3227)
  include/openmc/particle.h
  include/openmc/particle_data.h
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/tallies/tally_scoring.cpp
  src/track_output.cpp
  src/weight_windows.cpp
  tests/unit_tests/weightwindows/test.py
Owners: @nelsonag, @pshriwise

Added missing documentation (#3275)
  docs/source/io_formats/settings.rst
Owners: none

fix the bug in function differentiate_mats()
  openmc/model/model.py
Owners: none

fix the bug in function Material.from_xml_element (mat.depletable)
  openmc/material.py
Owners: none

Reimplement add_volume using atomic compare-and-swap
  include/openmc/mesh.h
  openmc/lib/mesh.py
  openmc/mesh.py
  src/mesh.cpp
Owners: @paulromano

Make add_volume a little more readable
  src/mesh.cpp
Owners: none

Improve add_volume further
  include/openmc/mesh.h
  src/mesh.cpp
Owners: none

Fix MPI build
  src/mesh.cpp
Owners: none

Move versioning to a separate file, as suggested by @gonuke
  CMakeLists.txt
  cmake/Modules/GetVersionFromGit.cmake
  include/openmc/version.h.in
Owners: none

add more info
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

fix naming
  include/openmc/hex_mesh.h
Owners: none

fix silly typo
  src/hex_mesh.cpp
Owners: none

fix to use length of hex-lattice basis vector
  src/hex_mesh.cpp
Owners: none

Tweak To Sphinx Install Documentation (#3271)
  docs/source/devguide/docbuild.rst
Owners: none

fix naming
  include/openmc/hex_mesh.h
Owners: none

commit comments on docs from @yardasol review`
  docs/source/usersguide/variance_reduction.rst
Owners: none

refactored update_magic to update_weights, and included passing in of method type to function
  include/openmc/weight_windows.h
  src/weight_windows.cpp
Owners: none

Update cmake/Modules/GetVersionFromGit.cmake
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

Update cmake/Modules/GetVersionFromGit.cmake
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

finished refactor
  include/openmc/weight_windows.h
Owners: none

added section to userguide on Halton sampling
  docs/source/usersguide/random_ray.rst
Owners: none

Halton capitalization
  docs/source/usersguide/random_ray.rst
Owners: none

added sample_method to XML input docs
  docs/source/io_formats/settings.rst
Owners: none

add more variables
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
