Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

Update cmake/Modules/GetVersionFromGit.cmake
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

Small fixes
  openmc/model/model.py
  openmc/plots.py
  tests/unit_tests/test_model.py
Owners: none

Update condition on whether or not results should be read from the statepoint file
  openmc/tallies.py
Owners: none

Simulation of decay photons through the D1S method (#3235)
  CMakeLists.txt
  docs/source/conf.py
  docs/source/pythonapi/base.rst
  docs/source/pythonapi/capi.rst
  docs/source/pythonapi/deplete.rst
  docs/source/usersguide/decay_sources.rst
  docs/source/usersguide/index.rst
  include/openmc/chain.h
  include/openmc/endf.h
  include/openmc/particle.h
  include/openmc/particle_data.h
  include/openmc/reaction.h
  include/openmc/reaction_product.h
  include/openmc/settings.h
  include/openmc/tallies/filter.h
  include/openmc/tallies/filter_parent_nuclide.h
  openmc/deplete/abc.py
  openmc/deplete/d1s.py
  openmc/filter.py
  openmc/lib/core.py
  openmc/lib/filter.py
  openmc/material.py
  openmc/settings.py
  src/chain.cpp
  src/initialize.cpp
  src/nuclide.cpp
  src/particle.cpp
  src/physics.cpp
  src/reaction.cpp
  src/reaction_product.cpp
  src/settings.cpp
  src/tallies/filter.cpp
  src/tallies/filter_parent_nuclide.cpp
  tests/chain_ni.xml
  tests/regression_tests/surface_source/test.py
  tests/unit_tests/test_d1s.py
Owners: @paulromano

Fix apply_tally_results when std_dev is checked first
  openmc/tallies.py
  tests/unit_tests/test_tallies.py
Owners: none

Updating ensure results decorator documentation a bit
  openmc/tallies.py
Owners: none

Add check that results are updated for subsequent model runs with apply_tally_results=True
  openmc/tallies.py
  tests/regression_tests/filter_energyfun/test.py
  tests/unit_tests/test_tallies.py
Owners: none

Small updates
  openmc/tallies.py
  tests/unit_tests/test_tallies.py
Owners: none

Exit early if derived tally
  openmc/tallies.py
Owners: none

Revert change to energy function tally test
  tests/regression_tests/filter_energyfun/test.py
Owners: none

stable
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

cleaning up codebase
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

Enable overlap plotting from Python API (#3310)
  openmc/model/model.py
  openmc/plots.py
  tests/unit_tests/test_model.py
Owners: none

commented out changes that effect non-mesh LS. Need to test if they are superfluous
  src/random_ray/linear_source_domain.cpp
Owners: @jtramm

we want to keep the negative source triggers 0 source gradient check. Very minimal/no bias on C5G7 and tokamak, but this greatly improves stability on 1x tokamak case. 2x looks about the same
  src/random_ray/linear_source_domain.cpp
Owners: @jtramm

updated mesh regression tests
  tests/regression_tests/random_ray_fixed_source_mesh/flat/results_true.dat
  tests/regression_tests/random_ray_fixed_source_mesh/linear/results_true.dat
  tests/regression_tests/random_ray_k_eff_mesh/results_true.dat
  tests/regression_tests/random_ray_k_eff_mesh/test.py
  tests/regression_tests/weightwindows_fw_cadis_mesh/results_true.dat
  tests/regression_tests/weightwindows_fw_cadis_mesh/test.py
Owners: none

changed linear source tests that changed due to Q < 0 forces Q_grad = 0 policy.
  tests/regression_tests/random_ray_adjoint_fixed_source/results_true.dat
  tests/regression_tests/random_ray_fixed_source_linear/linear/results_true.dat
  tests/regression_tests/random_ray_fixed_source_linear/linear_xy/results_true.dat
  tests/regression_tests/random_ray_fixed_source_subcritical/linear_xy/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/hybrid/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/naive/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/simulation_averaged/results_true.dat
Owners: none

Handle reflex angles in CylinderSector (#3303)
  openmc/model/surface_composite.py
  tests/unit_tests/test_surface_composite.py
Owners: none

Add Versioning Support from `version.txt` (#3140)
  .git_archival.txt
  .gitattributes
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/Modules/GetVersionFromGit.cmake
  docs/source/conf.py
  include/openmc/version.h.in
  pyproject.toml
  src/mcpl_interface.cpp
  src/output.cpp
Owners: @ebknudsen

fixed potential logical errors on linear source void
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

Fixed error in void estimator. Problem was unneeded normalization of v^2/v term
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

updated void test
  tests/regression_tests/random_ray_void/flat/results_true.dat
  tests/regression_tests/random_ray_void/linear/results_true.dat
Owners: none

added fix for void, and changed a loop index to remedy llvm 15 vs. llvm 19 formatting difference
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

updated void test results
  tests/regression_tests/random_ray_void/flat/results_true.dat
  tests/regression_tests/random_ray_void/linear/results_true.dat
Owners: none

Fix race condition in MaterialVolumes::add_volume
  src/mesh.cpp
Owners: none

force zero source moments for negative sources
  src/random_ray/linear_source_domain.cpp
Owners: @jtramm

Make RTD build unshallow
  .readthedocs.yaml
Owners: none

Add message to help users missing git tags
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

Fix MaterialVolumes::add_volume (for real this time)
  src/mesh.cpp
Owners: none

Remove ensure_results from mean/std_dev
  openmc/tallies.py
Owners: none

Random Ray Void Accuracy Fix (#3316)
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  tests/regression_tests/random_ray_void/flat/results_true.dat
  tests/regression_tests/random_ray_void/linear/results_true.dat
Owners: @jtramm

updated tests
  tests/regression_tests/random_ray_fixed_source_linear/linear/results_true.dat
  tests/regression_tests/random_ray_fixed_source_linear/linear_xy/results_true.dat
  tests/regression_tests/random_ray_fixed_source_subcritical/linear_xy/results_true.dat
  tests/regression_tests/random_ray_fixed_source_subcritical/test.py
  tests/regression_tests/random_ray_void/linear/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/hybrid/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/naive/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/simulation_averaged/results_true.dat
Owners: none

Clarify effect of CMAKE_BUILD_TYPE in docs
  docs/source/usersguide/install.rst
Owners: none

Remove --depth=1 from Dockerfile
  Dockerfile
Owners: @shimwell

Show full vesion in built docs. Update copyright to 2025
  LICENSE
  docs/source/conf.py
  docs/source/license.rst
  man/man1/openmc.1
Owners: none

Tried adding html_baseurl
  docs/source/conf.py
Owners: none

set adjoint source to zero if the forward flux is negative or zero
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

Updated adjoint test
  tests/regression_tests/random_ray_adjoint_fixed_source/inputs_true.dat
  tests/regression_tests/random_ray_adjoint_fixed_source/results_true.dat
  tests/regression_tests/random_ray_adjoint_fixed_source/test.py
Owners: none

simplified loop variable
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

first implementation of weight filters
  CMakeLists.txt
  include/openmc/tallies/filter.h
  include/openmc/tallies/filter_weight.h
  openmc/filter.py
  src/tallies/filter.cpp
  src/tallies/filter_weight.cpp
  src/weight_windows.cpp
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
