Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

formatting cleanup
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
  src/tallies/derivative.cpp
  src/track_output.cpp
Owners: @nelsonag

Parallelize source site generation for fixed source calcs
  include/openmc/timer.h
  src/output.cpp
  src/simulation.cpp
  src/source.cpp
  src/state_point.cpp
  src/timer.cpp
Owners: none

Parallelize source site generation for fixed source calcs
  include/openmc/timer.h
  src/output.cpp
  src/simulation.cpp
  src/source.cpp
  src/state_point.cpp
  src/timer.cpp
Owners: none

remove C API run_mode so it can be an enum class
  include/openmc/settings.h
  openmc/lib/settings.py
  tests/unit_tests/test_lib.py
Owners: @paulromano

Apply suggestions from code review
  include/openmc/particle.h
  src/bank.cpp
  src/physics.cpp
  src/simulation.cpp
Owners: none

Apply suggestions from code review
  include/openmc/particle.h
  src/bank.cpp
  src/physics.cpp
  src/simulation.cpp
Owners: none

made similar line changes to MG physics as @paulromano made to regular physics file.
  examples/xml/pincell/settings.xml
  src/physics.cpp
  src/physics_mg.cpp
Owners: @nelsonag

made similar line changes to MG physics as @paulromano made to regular physics file.
  examples/xml/pincell/settings.xml
  src/physics.cpp
  src/physics_mg.cpp
Owners: @nelsonag

finished comment incorporation from code review
  examples/xml/pincell/settings.xml
  include/openmc/particle.h
  include/openmc/simulation.h
  src/eigenvalue.cpp
  src/particle.cpp
  src/particle_restart.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
  src/tallies/tally_scoring.cpp
Owners: @nelsonag

finished comment incorporation from code review
  examples/xml/pincell/settings.xml
  include/openmc/particle.h
  include/openmc/simulation.h
  src/eigenvalue.cpp
  src/particle.cpp
  src/particle_restart.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
  src/tallies/tally_scoring.cpp
Owners: @nelsonag

maybe fix CI?
  openmc/lib/cell.py
Owners: @paulromano

maybe fix CI?
  openmc/lib/cell.py
Owners: @paulromano

added O(n) fission bank sorting implementation
  include/openmc/bank.h
  include/openmc/particle.h
  src/bank.cpp
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

added O(n) fission bank sorting implementation
  include/openmc/bank.h
  include/openmc/particle.h
  src/bank.cpp
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

static cast in xt view
  src/tallies/tally.cpp
Owners: none

static cast in xt view
  src/tallies/tally.cpp
Owners: none

Converted fission_bank to unique_ptr rather than regular pointer. Also added some comments to explain usage of unique_ptr as opposed to vector type.
  include/openmc/bank.h
  include/openmc/particle.h
  openmc/lib/core.py
  src/bank.cpp
  src/eigenvalue.cpp
  src/physics.cpp
  src/physics_mg.cpp
Owners: @paulromano, @nelsonag

Converted fission_bank to unique_ptr rather than regular pointer. Also added some comments to explain usage of unique_ptr as opposed to vector type.
  include/openmc/bank.h
  include/openmc/particle.h
  openmc/lib/core.py
  src/bank.cpp
  src/eigenvalue.cpp
  src/physics.cpp
  src/physics_mg.cpp
Owners: @paulromano, @nelsonag

Annndddd that made it segfault
  openmc/lib/cell.py
Owners: @paulromano

Annndddd that made it segfault
  openmc/lib/cell.py
Owners: @paulromano

fix off-by-ones :frowning:
  openmc/lib/cell.py
Owners: @paulromano

fix off-by-ones :frowning:
  openmc/lib/cell.py
Owners: @paulromano

add enums to dagmc
  src/dagmc.cpp
Owners: @pshriwise

add enums to dagmc
  src/dagmc.cpp
Owners: @pshriwise

dag nabbit, dagmc!
  src/dagmc.cpp
Owners: @pshriwise

dag nabbit, dagmc!
  src/dagmc.cpp
Owners: @pshriwise

fixed indexing error, though things are still going haywire with MPI. Going to test if this is due to sort or unique_ptr.
  src/bank.cpp
  src/particle.cpp
  src/simulation.cpp
Owners: none

fixed indexing error, though things are still going haywire with MPI. Going to test if this is due to sort or unique_ptr.
  src/bank.cpp
  src/particle.cpp
  src/simulation.cpp
Owners: none

Added progeny_id field of Particle::Bank type to MPI Bank type to fix bug. Also some minor comment/assert cleanups from debugging.
  src/bank.cpp
  src/initialize.cpp
  src/particle.cpp
  src/simulation.cpp
Owners: none

Added progeny_id field of Particle::Bank type to MPI Bank type to fix bug. Also some minor comment/assert cleanups from debugging.
  src/bank.cpp
  src/initialize.cpp
  src/particle.cpp
  src/simulation.cpp
Owners: none

Added comment warning for Particle::Bank struct defintion that changes to it must also be made in MPI type declaration.
  include/openmc/particle.h
Owners: none

Added comment warning for Particle::Bank struct defintion that changes to it must also be made in MPI type declaration.
  include/openmc/particle.h
Owners: none

Added another annotation to the Particle::Bank struct definition, alerting that this structure is also defined in the python C interface.
  include/openmc/particle.h
Owners: none

Added another annotation to the Particle::Bank struct definition, alerting that this structure is also defined in the python C interface.
  include/openmc/particle.h
Owners: none

Use resize() operator in fission bank sorting function.
  src/bank.cpp
Owners: none

Use resize() operator in fission bank sorting function.
  src/bank.cpp
Owners: none

General import of event-based model from old branch. Seems to work, but need to test then work on cleaning up some more.
  CMakeLists.txt
  include/openmc/event.h
  include/openmc/simulation.h
  src/event.cpp
  src/finalize.cpp
  src/simulation.cpp
Owners: none

General import of event-based model from old branch. Seems to work, but need to test then work on cleaning up some more.
  CMakeLists.txt
  include/openmc/event.h
  include/openmc/simulation.h
  src/event.cpp
  src/finalize.cpp
  src/simulation.cpp
Owners: none

Moved redundant particle queuing code into its own function.
  src/event.cpp
  src/simulation.cpp
Owners: none

Moved redundant particle queuing code into its own function.
  src/event.cpp
  src/simulation.cpp
Owners: none
