Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

adjusted travis tests.
  .travis.yml
Owners: none

adjusted travis tests.
  .travis.yml
Owners: none

added setting to control the maximum number of in flight particles. Also simplified enqueing procedure after XS lookup events to drop atomic usage there.
  include/openmc/event.h
  include/openmc/settings.h
  src/event.cpp
  src/settings.cpp
  src/simulation.cpp
Owners: none

added setting to control the maximum number of in flight particles. Also simplified enqueing procedure after XS lookup events to drop atomic usage there.
  include/openmc/event.h
  include/openmc/settings.h
  src/event.cpp
  src/settings.cpp
  src/simulation.cpp
Owners: none

incorporate recommended name changes
  include/openmc/constants.h
  include/openmc/settings.h
  include/openmc/surface.h
  include/openmc/tallies/derivative.h
  src/cell.cpp
  src/dagmc.cpp
  src/finalize.cpp
  src/main.cpp
  src/mgxs.cpp
  src/nuclide.cpp
  src/output.cpp
  src/particle.cpp
  src/particle_restart.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/settings.cpp
  src/simulation.cpp
  src/state_point.cpp
  src/surface.cpp
  src/tallies/derivative.cpp
  src/tallies/tally.cpp
  src/thermal.cpp
Owners: @pshriwise, @nelsonag

incorporate recommended name changes
  include/openmc/constants.h
  include/openmc/settings.h
  include/openmc/surface.h
  include/openmc/tallies/derivative.h
  src/cell.cpp
  src/dagmc.cpp
  src/finalize.cpp
  src/main.cpp
  src/mgxs.cpp
  src/nuclide.cpp
  src/output.cpp
  src/particle.cpp
  src/particle_restart.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/settings.cpp
  src/simulation.cpp
  src/state_point.cpp
  src/surface.cpp
  src/tallies/derivative.cpp
  src/tallies/tally.cpp
  src/thermal.cpp
Owners: @pshriwise, @nelsonag

fix thing in surface.h
  include/openmc/surface.h
Owners: none

fix thing in surface.h
  include/openmc/surface.h
Owners: none

removed IPO stuff, which is now in the ipo branch. I may do some more testing on it there to see if it is generally useful or not.
  CMakeLists.txt
Owners: none

removed IPO stuff, which is now in the ipo branch. I may do some more testing on it there to see if it is generally useful or not.
  CMakeLists.txt
Owners: none

few more changes to make the develop merge work
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/settings.cpp
  src/simulation.cpp
Owners: @nelsonag

few more changes to make the develop merge work
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/settings.cpp
  src/simulation.cpp
Owners: @nelsonag

formatting
  src/event.cpp
Owners: none

formatting
  src/event.cpp
Owners: none

Added lots of comments and documentation to the event.h file.
  include/openmc/event.h
  src/event.cpp
Owners: none

Added lots of comments and documentation to the event.h file.
  include/openmc/event.h
  src/event.cpp
Owners: none

changed order of fields in QueueItem struct.
  include/openmc/event.h
Owners: none

changed order of fields in QueueItem struct.
  include/openmc/event.h
Owners: none

removed unnecessary include, and reset particles buffer to unique_ptr type.
  include/openmc/event.h
Owners: none

removed unnecessary include, and reset particles buffer to unique_ptr type.
  include/openmc/event.h
Owners: none

added more documentation
  include/openmc/event.h
Owners: none

added more documentation
  include/openmc/event.h
Owners: none

Update openmc/lattice.py
  openmc/lattice.py
Owners: none

Update openmc/lattice.py
  openmc/lattice.py
Owners: none

Improve analog estimator for heating in coupled photon-electron calculations
  src/tallies/tally_scoring.cpp
Owners: none

Improve analog estimator for heating in coupled photon-electron calculations
  src/tallies/tally_scoring.cpp
Owners: none

Ensure that nans are not printed for standard deviation
  src/output.cpp
Owners: none

Ensure that nans are not printed for standard deviation
  src/output.cpp
Owners: none

Separate filter_weight and flux in calls to score_general_*
  src/tallies/tally_scoring.cpp
Owners: none

Remove photon heating calculation from Python and use on C++ side
  openmc/data/photon.py
  src/tallies/tally.cpp
  src/tallies/tally_scoring.cpp
Owners: @amandalund

Remove photon heating calculation from Python and use on C++ side
  openmc/data/photon.py
  src/tallies/tally.cpp
  src/tallies/tally_scoring.cpp
Owners: @amandalund

Separate filter_weight and flux in calls to score_general_*
  src/tallies/tally_scoring.cpp
Owners: none

Default to collision estimator for heating score
  src/tallies/tally.cpp
  src/tallies/tally_scoring.cpp
Owners: none

Default to collision estimator for heating score
  src/tallies/tally.cpp
  src/tallies/tally_scoring.cpp
Owners: none

Update test results
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/results_true.dat
  tests/regression_tests/photon_production/test.py
  tests/regression_tests/photon_production_fission/inputs_true.dat
  tests/regression_tests/photon_production_fission/results_true.dat
  tests/regression_tests/photon_production_fission/test.py
  tests/regression_tests/tallies/results_true.dat
Owners: @amandalund

Update test results
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/results_true.dat
  tests/regression_tests/photon_production/test.py
  tests/regression_tests/photon_production_fission/inputs_true.dat
  tests/regression_tests/photon_production_fission/results_true.dat
  tests/regression_tests/photon_production_fission/test.py
  tests/regression_tests/tallies/results_true.dat
Owners: @amandalund

Consistent use of filter_weight
  src/tallies/tally_scoring.cpp
Owners: none

Consistent use of filter_weight
  src/tallies/tally_scoring.cpp
Owners: none

Address @smharper 's review
  openmc/lattice.py
  tests/unit_tests/test_lattice_discretization.py
Owners: none

Address @smharper 's review
  openmc/lattice.py
  tests/unit_tests/test_lattice_discretization.py
Owners: none
