Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

Moved event buffer initialization to simulation initialization function, rather than allocating and free'ing each power iteration. Also added ifdef for enabling/disabling event-based simulation.
  src/simulation.cpp
Owners: none

Moved event buffer initialization to simulation initialization function, rather than allocating and free'ing each power iteration. Also added ifdef for enabling/disabling event-based simulation.
  src/simulation.cpp
Owners: none

changes to int64_t for event-based particle queueing variables
  CMakeLists.txt
  include/openmc/event.h
  src/event.cpp
  src/simulation.cpp
Owners: none

changes to int64_t for event-based particle queueing variables
  CMakeLists.txt
  include/openmc/event.h
  src/event.cpp
  src/simulation.cpp
Owners: none

added event-based test to Travis CI matrix.
  .travis.yml
  tools/ci/travis-install.py
Owners: none

added event-based test to Travis CI matrix.
  .travis.yml
  tools/ci/travis-install.py
Owners: none

fixed travis install script bug
  tools/ci/travis-install.py
Owners: none

fixed travis install script bug
  tools/ci/travis-install.py
Owners: none

Code cleanup. Removed some dead code from throughout.
  include/openmc/eigenvalue.h
  src/eigenvalue.cpp
  src/simulation.cpp
Owners: none

Code cleanup. Removed some dead code from throughout.
  include/openmc/eigenvalue.h
  src/eigenvalue.cpp
  src/simulation.cpp
Owners: none

Simplify CellInstance hash function and use template argument for unordered_map
  include/openmc/cell.h
  include/openmc/tallies/filter_cell_instance.h
Owners: none

Simplify CellInstance hash function and use template argument for unordered_map
  include/openmc/cell.h
  include/openmc/tallies/filter_cell_instance.h
Owners: none

Discuss relationship between DistribcellFilter and CellInstanceFilter in docstrings
  openmc/filter.py
Owners: none

Discuss relationship between DistribcellFilter and CellInstanceFilter in docstrings
  openmc/filter.py
Owners: none

re-enumerate tally types in python API
  openmc/lib/tally.py
Owners: @paulromano

Use git submodule for pugixml
  .gitmodules
  CMakeLists.txt
  vendor/pugixml/pugiconfig.hpp
  vendor/pugixml/pugixml.cpp
  vendor/pugixml/pugixml.hpp
Owners: none

Use git submodule for pugixml
  .gitmodules
  CMakeLists.txt
  vendor/pugixml/pugiconfig.hpp
  vendor/pugixml/pugixml.cpp
  vendor/pugixml/pugixml.hpp
Owners: none

Use git submodule for gsl-lite
  .gitmodules
  CMakeLists.txt
  vendor/gsl/include/gsl/gsl
  vendor/gsl/include/gsl/gsl-lite.hpp
Owners: none

Use git submodule for gsl-lite
  .gitmodules
  CMakeLists.txt
  vendor/gsl/include/gsl/gsl
  vendor/gsl/include/gsl/gsl-lite.hpp
Owners: none

Use git submodule for xtl
  .gitmodules
  CMakeLists.txt
  vendor/xtl/CMakeLists.txt
  vendor/xtl/include/xtl/xany.hpp
  vendor/xtl/include/xtl/xbase64.hpp
  vendor/xtl/include/xtl/xbasic_fixed_string.hpp
  vendor/xtl/include/xtl/xclosure.hpp
  vendor/xtl/include/xtl/xcomplex.hpp
  vendor/xtl/include/xtl/xcomplex_sequence.hpp
  vendor/xtl/include/xtl/xdynamic_bitset.hpp
  vendor/xtl/include/xtl/xfunctional.hpp
  vendor/xtl/include/xtl/xhash.hpp
  vendor/xtl/include/xtl/xhierarchy_generator.hpp
  vendor/xtl/include/xtl/xiterator_base.hpp
  vendor/xtl/include/xtl/xjson.hpp
  vendor/xtl/include/xtl/xmasked_value.hpp
  vendor/xtl/include/xtl/xmasked_value_meta.hpp
  vendor/xtl/include/xtl/xmeta_utils.hpp
  vendor/xtl/include/xtl/xoptional.hpp
  vendor/xtl/include/xtl/xoptional_meta.hpp
  vendor/xtl/include/xtl/xoptional_sequence.hpp
  vendor/xtl/include/xtl/xproxy_wrapper.hpp
  vendor/xtl/include/xtl/xsequence.hpp
  vendor/xtl/include/xtl/xspan.hpp
  vendor/xtl/include/xtl/xspan_impl.hpp
  vendor/xtl/include/xtl/xtl_config.hpp
  vendor/xtl/include/xtl/xtype_traits.hpp
  vendor/xtl/include/xtl/xvariant.hpp
  vendor/xtl/include/xtl/xvariant_impl.hpp
  vendor/xtl/xtl.pc.in
  vendor/xtl/xtlConfig.cmake.in
Owners: none

Use git submodule for xtl
  .gitmodules
  CMakeLists.txt
  vendor/xtl/CMakeLists.txt
  vendor/xtl/include/xtl/xany.hpp
  vendor/xtl/include/xtl/xbase64.hpp
  vendor/xtl/include/xtl/xbasic_fixed_string.hpp
  vendor/xtl/include/xtl/xclosure.hpp
  vendor/xtl/include/xtl/xcomplex.hpp
  vendor/xtl/include/xtl/xcomplex_sequence.hpp
  vendor/xtl/include/xtl/xdynamic_bitset.hpp
  vendor/xtl/include/xtl/xfunctional.hpp
  vendor/xtl/include/xtl/xhash.hpp
  vendor/xtl/include/xtl/xhierarchy_generator.hpp
  vendor/xtl/include/xtl/xiterator_base.hpp
  vendor/xtl/include/xtl/xjson.hpp
  vendor/xtl/include/xtl/xmasked_value.hpp
  vendor/xtl/include/xtl/xmasked_value_meta.hpp
  vendor/xtl/include/xtl/xmeta_utils.hpp
  vendor/xtl/include/xtl/xoptional.hpp
  vendor/xtl/include/xtl/xoptional_meta.hpp
  vendor/xtl/include/xtl/xoptional_sequence.hpp
  vendor/xtl/include/xtl/xproxy_wrapper.hpp
  vendor/xtl/include/xtl/xsequence.hpp
  vendor/xtl/include/xtl/xspan.hpp
  vendor/xtl/include/xtl/xspan_impl.hpp
  vendor/xtl/include/xtl/xtl_config.hpp
  vendor/xtl/include/xtl/xtype_traits.hpp
  vendor/xtl/include/xtl/xvariant.hpp
  vendor/xtl/include/xtl/xvariant_impl.hpp
  vendor/xtl/xtl.pc.in
  vendor/xtl/xtlConfig.cmake.in
Owners: none

Update installation instructions, remove vendor.txt file
  docs/source/devguide/workflow.rst
  docs/source/quickinstall.rst
  docs/source/usersguide/install.rst
  vendor/vendor.txt
Owners: none

Update installation instructions, remove vendor.txt file
  docs/source/devguide/workflow.rst
  docs/source/quickinstall.rst
  docs/source/usersguide/install.rst
  vendor/vendor.txt
Owners: none

Don't install gsl-lite and pugixml targets from CMakeLists.txt
  CMakeLists.txt
Owners: none

Don't install gsl-lite and pugixml targets from CMakeLists.txt
  CMakeLists.txt
Owners: none

Automatically init/update submodules during build
  CMakeLists.txt
Owners: none

Automatically init/update submodules during build
  CMakeLists.txt
Owners: none

simplified interface for creating fission sites
  include/openmc/physics.h
  include/openmc/physics_mg.h
  src/physics.cpp
  src/physics_mg.cpp
Owners: @nelsonag

simplified interface for creating fission sites
  include/openmc/physics.h
  include/openmc/physics_mg.h
  src/physics.cpp
  src/physics_mg.cpp
Owners: @nelsonag

Make sure standard output gets flushed
  src/error.cpp
  src/output.cpp
Owners: none

Make sure standard output gets flushed
  src/error.cpp
  src/output.cpp
Owners: none

Add fission photon production test
  tests/regression_tests/photon_production_fission/__init__.py
  tests/regression_tests/photon_production_fission/inputs_true.dat
  tests/regression_tests/photon_production_fission/results_true.dat
  tests/regression_tests/photon_production_fission/test.py
Owners: none

Simplify photon production test
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

Scale fission photon production by (EGP + EGD)/EGP
  include/openmc/nuclide.h
  src/nuclide.cpp
  tests/regression_tests/photon_production_fission/results_true.dat
Owners: none

Simplify photon production test
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

Make sure photons don't contribute to heating-local tallies
  src/tallies/tally_scoring.cpp
Owners: none

Add fission photon production test
  tests/regression_tests/photon_production_fission/__init__.py
  tests/regression_tests/photon_production_fission/inputs_true.dat
  tests/regression_tests/photon_production_fission/results_true.dat
  tests/regression_tests/photon_production_fission/test.py
Owners: none

Scale fission photon production by (EGP + EGD)/EGP
  include/openmc/nuclide.h
  src/nuclide.cpp
  tests/regression_tests/photon_production_fission/results_true.dat
Owners: none

Make sure photons don't contribute to heating-local tallies
  src/tallies/tally_scoring.cpp
Owners: none

Add a settings flag to turn off/on delayed photon fission yield scaling
  docs/source/io_formats/settings.rst
  include/openmc/settings.h
  openmc/settings.py
  src/finalize.cpp
  src/nuclide.cpp
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/settings.cpp
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer
