Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

Adding mix_materials method to Material class
  openmc/material.py
  tests/unit_tests/test_material.py
Owners: none

Adding mix_materials method to Material class
  openmc/material.py
  tests/unit_tests/test_material.py
Owners: none

Style fixes implemented from code review.
  include/openmc/event.h
  src/event.cpp
  src/settings.cpp
Owners: none

Style fixes implemented from code review.
  include/openmc/event.h
  src/event.cpp
  src/settings.cpp
Owners: none

fixed indentation in simulation function.
  src/simulation.cpp
Owners: none

fixed indentation in simulation function.
  src/simulation.cpp
Owners: none

initial commit of sharedarray object.
  include/openmc/shared_array.h
Owners: none

initial commit of sharedarray object.
  include/openmc/shared_array.h
Owners: none

A few changes to the sharedarray object.
  include/openmc/shared_array.h
Owners: none

A few changes to the sharedarray object.
  include/openmc/shared_array.h
Owners: none

converted event based queues and particle buffer into SharedArrays
  include/openmc/event.h
  include/openmc/shared_array.h
  src/event.cpp
  src/physics.cpp
  src/simulation.cpp
Owners: none

converted event based queues and particle buffer into SharedArrays
  include/openmc/event.h
  include/openmc/shared_array.h
  src/event.cpp
  src/physics.cpp
  src/simulation.cpp
Owners: none

Converted fission bank to SharedArray type.
  include/openmc/bank.h
  include/openmc/shared_array.h
  src/bank.cpp
  src/eigenvalue.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

Converted fission bank to SharedArray type.
  include/openmc/bank.h
  include/openmc/shared_array.h
  src/bank.cpp
  src/eigenvalue.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

cleaned up some formatting etc.
  include/openmc/shared_array.h
Owners: none

cleaned up some formatting etc.
  include/openmc/shared_array.h
Owners: none

first pass on adding event_based and in_flight_particles as xml and python options.
  .travis.yml
  CMakeLists.txt
  docs/source/io_formats/settings.rst
  include/openmc/settings.h
  openmc/settings.py
  src/finalize.cpp
  src/output.cpp
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/settings.cpp
  src/simulation.cpp
Owners: none

first pass on adding event_based and in_flight_particles as xml and python options.
  .travis.yml
  CMakeLists.txt
  docs/source/io_formats/settings.rst
  include/openmc/settings.h
  openmc/settings.py
  src/finalize.cpp
  src/output.cpp
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/settings.cpp
  src/simulation.cpp
Owners: none

partial work on adding travis event-based functionality via command line argument
  examples/xml/pincell/settings.xml
  src/settings.cpp
  tests/conftest.py
  tools/ci/travis-install.py
  tools/ci/travis-script.sh
Owners: none

partial work on adding travis event-based functionality via command line argument
  examples/xml/pincell/settings.xml
  src/settings.cpp
  tests/conftest.py
  tools/ci/travis-install.py
  tools/ci/travis-script.sh
Owners: none

added command line argument for event-based mode.
  examples/xml/pincell/settings.xml
  openmc/executor.py
  src/initialize.cpp
  src/output.cpp
Owners: none

added command line argument for event-based mode.
  examples/xml/pincell/settings.xml
  openmc/executor.py
  src/initialize.cpp
  src/output.cpp
Owners: none

Running in event-based mode correctly, from what I can tell./
  openmc/settings.py
  tests/testing_harness.py
  tools/ci/travis-script.sh
Owners: none

Running in event-based mode correctly, from what I can tell./
  openmc/settings.py
  tests/testing_harness.py
  tools/ci/travis-script.sh
Owners: none

added some comments in the travis script.
  tools/ci/travis-script.sh
Owners: none

added some comments in the travis script.
  tools/ci/travis-script.sh
Owners: none

added more comments and documentation.
  include/openmc/event.h
  include/openmc/shared_array.h
  src/event.cpp
Owners: none

added more comments and documentation.
  include/openmc/event.h
  include/openmc/shared_array.h
  src/event.cpp
Owners: none

Allow control over status messages in Chain.from_endf
  openmc/deplete/chain.py
Owners: @drewejohnson

Allow control over status messages in Chain.from_endf
  openmc/deplete/chain.py
Owners: @drewejohnson

Ensure a valid bin for very short tracks in meshes
  src/mesh.cpp
Owners: none

Ensure a valid bin for very short tracks in meshes
  src/mesh.cpp
Owners: none

fixing normal distribution
  openmc/stats/univariate.py
Owners: none

fixing normal distribution
  openmc/stats/univariate.py
Owners: none

Rewrite of openmc-ace-to-hdf5, moving some functionality to ace.py
  docs/source/pythonapi/data.rst
  openmc/data/ace.py
  scripts/openmc-ace-to-hdf5
  tests/unit_tests/test_data_neutron.py
Owners: @paulromano

Use download() in openmc-get-photon-data and respond to other comments
  openmc/_utils.py
  scripts/openmc-get-photon-data
Owners: none

Suggested changes in travis-install-dagmc.sh
  tools/ci/travis-install-dagmc.sh
Owners: none

Suggested changes in travis-install-dagmc.sh
  tools/ci/travis-install-dagmc.sh
Owners: none

Rewrite of openmc-ace-to-hdf5, moving some functionality to ace.py
  docs/source/pythonapi/data.rst
  openmc/data/ace.py
  scripts/openmc-ace-to-hdf5
  tests/unit_tests/test_data_neutron.py
Owners: @paulromano

Use download() in openmc-get-photon-data and respond to other comments
  openmc/_utils.py
  scripts/openmc-get-photon-data
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer
