Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

fixed rotation bug. Old event-based simulation rotation paragraph was not up to date.
  src/simulation.cpp
Owners: none

fixed rotation bug. Old event-based simulation rotation paragraph was not up to date.
  src/simulation.cpp
Owners: none

fixed issue with fixed source problems, where fission neutrons were getting banked to fission bank instead of secondary bank.
  include/openmc/physics.h
  src/physics.cpp
Owners: none

fixed issue with fixed source problems, where fission neutrons were getting banked to fission bank instead of secondary bank.
  include/openmc/physics.h
  src/physics.cpp
Owners: none

bugfix
  src/physics.cpp
Owners: none

bugfix
  src/physics.cpp
Owners: none

Fix setting multiplicity matrix for histogram MGMC XS
  openmc/mgxs_library.py
Owners: @nelsonag

Fix setting multiplicity matrix for histogram MGMC XS
  openmc/mgxs_library.py
Owners: @nelsonag

Handle case where user forgot to tally multiplicities or nu-scatter more gracefully
  openmc/mgxs/library.py
Owners: none

Handle case where user forgot to tally multiplicities or nu-scatter more gracefully
  openmc/mgxs/library.py
Owners: none

Check for multiplicity matrix tallies in routine meant to check libraries for MGMC library creation
  openmc/mgxs/library.py
Owners: none

Check for multiplicity matrix tallies in routine meant to check libraries for MGMC library creation
  openmc/mgxs/library.py
Owners: none

removed MG tests, and reinstated CMFD tests
  tests/regression_tests/cmfd_feed_2g/test.py
  tests/regression_tests/cmfd_feed_ng/test.py
  tests/regression_tests/mg_basic/test.py
  tests/regression_tests/mg_basic_delayed/test.py
  tests/regression_tests/mg_convert/test.py
  tests/regression_tests/mg_legendre/test.py
  tests/regression_tests/mg_max_order/test.py
  tests/regression_tests/mg_survival_biasing/test.py
  tests/regression_tests/mg_tallies/test.py
  tests/regression_tests/mgxs_library_ce_to_mg/test.py
  tests/regression_tests/mgxs_library_ce_to_mg_nuclides/test.py
  tests/regression_tests/mgxs_library_condense/test.py
  tests/regression_tests/mgxs_library_correction/test.py
  tests/regression_tests/mgxs_library_distribcell/test.py
  tests/regression_tests/mgxs_library_hdf5/test.py
  tests/regression_tests/mgxs_library_histogram/test.py
  tests/regression_tests/mgxs_library_mesh/test.py
  tests/regression_tests/mgxs_library_no_nuclides/test.py
  tests/regression_tests/mgxs_library_nuclides/test.py
Owners: none

removed MG tests, and reinstated CMFD tests
  tests/regression_tests/cmfd_feed_2g/test.py
  tests/regression_tests/cmfd_feed_ng/test.py
  tests/regression_tests/mg_basic/test.py
  tests/regression_tests/mg_basic_delayed/test.py
  tests/regression_tests/mg_convert/test.py
  tests/regression_tests/mg_legendre/test.py
  tests/regression_tests/mg_max_order/test.py
  tests/regression_tests/mg_survival_biasing/test.py
  tests/regression_tests/mg_tallies/test.py
  tests/regression_tests/mgxs_library_ce_to_mg/test.py
  tests/regression_tests/mgxs_library_ce_to_mg_nuclides/test.py
  tests/regression_tests/mgxs_library_condense/test.py
  tests/regression_tests/mgxs_library_correction/test.py
  tests/regression_tests/mgxs_library_distribcell/test.py
  tests/regression_tests/mgxs_library_hdf5/test.py
  tests/regression_tests/mgxs_library_histogram/test.py
  tests/regression_tests/mgxs_library_mesh/test.py
  tests/regression_tests/mgxs_library_no_nuclides/test.py
  tests/regression_tests/mgxs_library_nuclides/test.py
Owners: none

increase nubank size from 10 to 15. Some nu values were getting be 10 or 11. Also added an assert to enforce this.
  include/openmc/particle.h
  src/physics.cpp
Owners: none

increase nubank size from 10 to 15. Some nu values were getting be 10 or 11. Also added an assert to enforce this.
  include/openmc/particle.h
  src/physics.cpp
Owners: none

Address @nelsonag 's review
  openmc/mgxs/library.py
Owners: none

Address @nelsonag 's review
  openmc/mgxs/library.py
Owners: none

Add MGMC loading of regular transport cross sections
  openmc/mgxs/library.py
Owners: none

Add MGMC loading of regular transport cross sections
  openmc/mgxs/library.py
Owners: none

added in particle track outputting
  src/physics.cpp
  src/simulation.cpp
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

added in particle track outputting
  src/physics.cpp
  src/simulation.cpp
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

various small cleanups
  src/simulation.cpp
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

various small cleanups
  src/simulation.cpp
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

fixed photon_production issue. Problem was that the particle event_, event_nuclide_ and event_mt_ variables were not being set at beginning of XS lookup event.
  src/simulation.cpp
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

fixed photon_production issue. Problem was that the particle event_, event_nuclide_ and event_mt_ variables were not being set at beginning of XS lookup event.
  src/simulation.cpp
  tests/regression_tests/photon_production/inputs_true.dat
  tests/regression_tests/photon_production/test.py
Owners: @amandalund

fixed issue with single sort comparator before XS lookups
  src/simulation.cpp
Owners: none

fixed issue with single sort comparator before XS lookups
  src/simulation.cpp
Owners: none

set DAGMC tests to skip
  tests/regression_tests/dagmc/legacy/test.py
  tests/regression_tests/dagmc/refl/test.py
  tests/regression_tests/dagmc/uwuw/test.py
Owners: @pshriwise

set DAGMC tests to skip
  tests/regression_tests/dagmc/legacy/test.py
  tests/regression_tests/dagmc/refl/test.py
  tests/regression_tests/dagmc/uwuw/test.py
Owners: @pshriwise

removed DAGMC tests from travis.yml
  .travis.yml
Owners: none

removed DAGMC tests from travis.yml
  .travis.yml
Owners: none

parallelized particle initialization (not necessary), and switched to dynamic openmp scheduling
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

parallelized particle initialization (not necessary), and switched to dynamic openmp scheduling
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

Update tallies/settings RELAX NG schemata
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/relaxng/tallies.rnc
  src/relaxng/tallies.rng
Owners: none

Update tallies/settings RELAX NG schemata
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/relaxng/tallies.rnc
  src/relaxng/tallies.rng
Owners: none

sorting tweak to account for there being unique materials in SMR problem, and added fix for history-based method so that it works again.
  examples/xml/pincell/settings.xml
  src/particle.cpp
  src/simulation.cpp
Owners: none

sorting tweak to account for there being unique materials in SMR problem, and added fix for history-based method so that it works again.
  examples/xml/pincell/settings.xml
  src/particle.cpp
  src/simulation.cpp
Owners: none

Allow default material cell offset generation to be turned off
  docs/source/io_formats/settings.rst
  include/openmc/settings.h
  openmc/settings.py
  src/finalize.cpp
  src/geometry_aux.cpp
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/settings.cpp
Owners: none

Allow default material cell offset generation to be turned off
  docs/source/io_formats/settings.rst
  include/openmc/settings.h
  openmc/settings.py
  src/finalize.cpp
  src/geometry_aux.cpp
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/settings.cpp
Owners: none
