Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

Use write_source_point to dispatch between mcpl and h5
  src/simulation.cpp
  src/state_point.cpp
Owners: none

Fix check for depletable attribute
  openmc/material.py
Owners: none

FW-CADIS Weight Window Generation with Random Ray (#3273)
  docs/source/io_formats/settings.rst
  docs/source/methods/index.rst
  docs/source/methods/random_ray.rst
  docs/source/methods/variance_reduction.rst
  docs/source/usersguide/index.rst
  docs/source/usersguide/random_ray.rst
  docs/source/usersguide/variance_reduction.rst
  include/openmc/weight_windows.h
  openmc/weight_windows.py
  src/random_ray/random_ray_simulation.cpp
  src/weight_windows.cpp
  tests/regression_tests/weightwindows_fw_cadis/__init__.py
  tests/regression_tests/weightwindows_fw_cadis/inputs_true.dat
  tests/regression_tests/weightwindows_fw_cadis/results_true.dat
  tests/regression_tests/weightwindows_fw_cadis/test.py
  tests/testing_harness.py
Owners: @pshriwise, @jtramm

Simplify logic
  openmc/model/model.py
Owners: none

Rely on std::filesystem for file_utils (#3042)
  include/openmc/file_utils.h
  src/cross_sections.cpp
  src/dagmc.cpp
  src/file_utils.cpp
  src/simulation.cpp
  src/state_point.cpp
  tests/cpp_unit_tests/test_file_utils.cpp
Owners: @pshriwise

Fix the bug in the Material.from_xml_element function (#3278)
  openmc/material.py
Owners: none

corrected mgxs and geometry usage in example
  docs/source/usersguide/random_ray.rst
Owners: none

typo inaccurate
  docs/source/usersguide/random_ray.rst
Owners: none

mgx from openmc
  docs/source/usersguide/random_ray.rst
Owners: none

Doc typo fix for rand ray mgxs (#3280)
  docs/source/usersguide/random_ray.rst
Owners: none

Fix more bugs in differentiate_mats
  openmc/model/model.py
  tests/unit_tests/test_deplete_coupled_operator.py
Owners: @paulromano

fix the bug in function differentiate_mats() (#3277)
  openmc/model/model.py
  tests/unit_tests/test_deplete_coupled_operator.py
Owners: @paulromano

Move major plot logic to Model class
  openmc/model/model.py
  openmc/universe.py
Owners: none

Allow contour='only' in plot
  openmc/universe.py
Owners: none

Relax check on plane_tolerance
  openmc/model/model.py
Owners: none

Consolidate docstrings for plot methods
  openmc/cell.py
  openmc/geometry.py
  openmc/model/model.py
  openmc/plots.py
  openmc/region.py
  openmc/universe.py
Owners: none

Simplify source site plotting in Model.plot
  openmc/model/model.py
Owners: none

Add contour_kwargs for Model.plot
  openmc/model/model.py
  openmc/plots.py
Owners: none

Small simplification
  openmc/model/model.py
Owners: none

Update cmake/Modules/GetVersionFromGit.cmake
  cmake/Modules/GetVersionFromGit.cmake
Owners: none

Update openmc/universe.py per @shimwell suggestion
  openmc/universe.py
Owners: none

first pass of SourceRegion refactor complete
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
Owners: @jtramm

refactor is compiling cleanly
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
Owners: @jtramm

fixed OpenMPMutex wrapper class
  include/openmc/openmp_interface.h
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

fixed MPI
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

ran git clang-format develop
  include/openmc/random_ray/linear_source_domain.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
Owners: @jtramm

put several parallel for loops back in
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

added SourceRegionContainer class
  include/openmc/random_ray/source_region.h
Owners: none

added source_region.cpp class instead of having it all in the header
  include/openmc/random_ray/source_region.h
  src/random_ray/source_region.cpp
Owners: @jtramm

first refactor sweep complete
  CMakeLists.txt
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

new refactor working (though mpi not done yet)
  include/openmc/random_ray/source_region.h
  src/random_ray/random_ray.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

MPI refactor complete
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

fixed issue with MPI linear sources
  src/random_ray/source_region.cpp
Owners: @jtramm

changed sr to int64_t
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

continued refactor
  include/openmc/random_ray/source_region.h
  src/random_ray/source_region.cpp
Owners: @jtramm

removed unneeded parallel fill
  include/openmc/random_ray/flat_source_domain.h
Owners: none

moved volume tasks into the SourceRegion object.
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

Add more documentation
  include/openmc/mesh.h
  src/mesh.cpp
Owners: none

Rename variables to be more clear
  include/openmc/mesh.h
  src/mesh.cpp
Owners: none

adding non elastic MT number
  openmc/data/reaction.py
Owners: @paulromano

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
