Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

Happy new year 2020!
  LICENSE
  docs/source/conf.py
  docs/source/license.rst
  man/man1/openmc.1
  src/output.cpp
Owners: none

Happy new year 2020!
  LICENSE
  docs/source/conf.py
  docs/source/license.rst
  man/man1/openmc.1
  src/output.cpp
Owners: none

Adding data_type kwarg to DataLibrary.get_by_material
  openmc/data/library.py
  openmc/plotter.py
  tests/unit_tests/test_data_misc.py
Owners: @paulromano

Adding data_type kwarg to DataLibrary.get_by_material
  openmc/data/library.py
  openmc/plotter.py
  tests/unit_tests/test_data_misc.py
Owners: @paulromano

removed unneeded variable
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

removed unneeded variable
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

testing history-based method
  src/simulation.cpp
Owners: none

testing history-based method
  src/simulation.cpp
Owners: none

removed thread private global tally accumulators and moved them to particle. They now atomically accumulate at particle death.
  examples/xml/pincell/settings.xml
  include/openmc/particle.h
  include/openmc/tallies/tally.h
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

removed thread private global tally accumulators and moved them to particle. They now atomically accumulate at particle death.
  examples/xml/pincell/settings.xml
  include/openmc/particle.h
  include/openmc/tallies/tally.h
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

moved thread private trace debugging variable into particle object.
  include/openmc/particle.h
  src/geometry.cpp
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

moved thread private trace debugging variable into particle object.
  include/openmc/particle.h
  src/geometry.cpp
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

broke up history-based method into discrete events
  include/openmc/particle.h
  src/particle.cpp
  src/simulation.cpp
Owners: none

broke up history-based method into discrete events
  include/openmc/particle.h
  src/particle.cpp
  src/simulation.cpp
Owners: none

misc small edits. Trying to track down threading bug that causes undefined behavior
  include/openmc/particle.h
  include/openmc/simulation.h
  src/geometry.cpp
  src/simulation.cpp
Owners: none

misc small edits. Trying to track down threading bug that causes undefined behavior
  include/openmc/particle.h
  include/openmc/simulation.h
  src/geometry.cpp
  src/simulation.cpp
Owners: none

Unified history-based and event-based logic. Also removed extra python/dagmc tests from travis.yml
  .travis.yml
  src/simulation.cpp
Owners: none

Unified history-based and event-based logic. Also removed extra python/dagmc tests from travis.yml
  .travis.yml
  src/simulation.cpp
Owners: none

Adding CylindricalIndependent source type
  docs/source/io_formats/settings.rst
  docs/source/pythonapi/stats.rst
  include/openmc/distribution_spatial.h
  openmc/stats/multivariate.py
  src/distribution_spatial.cpp
  src/source.cpp
  tests/regression_tests/source/inputs_true.dat
  tests/regression_tests/source/results_true.dat
  tests/regression_tests/source/test.py
Owners: none

Adding CylindricalIndependent source type
  docs/source/io_formats/settings.rst
  docs/source/pythonapi/stats.rst
  include/openmc/distribution_spatial.h
  openmc/stats/multivariate.py
  src/distribution_spatial.cpp
  src/source.cpp
  tests/regression_tests/source/inputs_true.dat
  tests/regression_tests/source/results_true.dat
  tests/regression_tests/source/test.py
Owners: none

change ints to enums where appropriate
  include/openmc/cell.h
  include/openmc/constants.h
  include/openmc/surface.h
  include/openmc/tallies/derivative.h
  include/openmc/thermal.h
  src/surface.cpp
Owners: none

Added multigroup support for shared fission bank. Should be relatively easy to support for GPU.
  include/openmc/physics_mg.h
  src/physics_mg.cpp
  src/simulation.cpp
  tests/regression_tests/mg_basic/test.py
Owners: @nelsonag

Added multigroup support for shared fission bank. Should be relatively easy to support for GPU.
  include/openmc/physics_mg.h
  src/physics_mg.cpp
  src/simulation.cpp
  tests/regression_tests/mg_basic/test.py
Owners: @nelsonag

enabled multigroup tests. Seems to pass them locally, though with a P0 correction warning for some?
  tests/regression_tests/mg_basic/test.py
  tests/regression_tests/mg_basic_delayed/test.py
  tests/regression_tests/mg_convert/test.py
  tests/regression_tests/mg_legendre/test.py
  tests/regression_tests/mg_max_order/test.py
  tests/regression_tests/mg_survival_biasing/test.py
  tests/regression_tests/mg_tallies/test.py
  tests/regression_tests/mgxs_library_ce_to_mg/test.py
  tests/regression_tests/mgxs_library_ce_to_mg_nuclides/test.py
  tests/regression_tests/mgxs_library_condense/test.py
  tests/regression_tests/mgxs_library_correction/test.py
  tests/regression_tests/mgxs_library_distribcell/test.py
  tests/regression_tests/mgxs_library_hdf5/test.py
  tests/regression_tests/mgxs_library_histogram/test.py
  tests/regression_tests/mgxs_library_mesh/test.py
  tests/regression_tests/mgxs_library_no_nuclides/test.py
  tests/regression_tests/mgxs_library_nuclides/test.py
Owners: none

enabled multigroup tests. Seems to pass them locally, though with a P0 correction warning for some?
  tests/regression_tests/mg_basic/test.py
  tests/regression_tests/mg_basic_delayed/test.py
  tests/regression_tests/mg_convert/test.py
  tests/regression_tests/mg_legendre/test.py
  tests/regression_tests/mg_max_order/test.py
  tests/regression_tests/mg_survival_biasing/test.py
  tests/regression_tests/mg_tallies/test.py
  tests/regression_tests/mgxs_library_ce_to_mg/test.py
  tests/regression_tests/mgxs_library_ce_to_mg_nuclides/test.py
  tests/regression_tests/mgxs_library_condense/test.py
  tests/regression_tests/mgxs_library_correction/test.py
  tests/regression_tests/mgxs_library_distribcell/test.py
  tests/regression_tests/mgxs_library_hdf5/test.py
  tests/regression_tests/mgxs_library_histogram/test.py
  tests/regression_tests/mgxs_library_mesh/test.py
  tests/regression_tests/mgxs_library_no_nuclides/test.py
  tests/regression_tests/mgxs_library_nuclides/test.py
Owners: none

Normalize tallies based on number of particles, not total starting weight
  src/tallies/tally.cpp
Owners: none

Convert eigenvalue_genperbatch test to use PyAPITestHarness
  tests/regression_tests/eigenvalue_genperbatch/geometry.xml
  tests/regression_tests/eigenvalue_genperbatch/inputs_true.dat
  tests/regression_tests/eigenvalue_genperbatch/materials.xml
  tests/regression_tests/eigenvalue_genperbatch/settings.xml
  tests/regression_tests/eigenvalue_genperbatch/test.py
Owners: none

Normalize tallies based on number of particles, not total starting weight
  src/tallies/tally.cpp
Owners: none

Add tallies to eigenvalue_genperbatch test
  tests/regression_tests/eigenvalue_genperbatch/inputs_true.dat
  tests/regression_tests/eigenvalue_genperbatch/results_true.dat
  tests/regression_tests/eigenvalue_genperbatch/test.py
Owners: none

Convert eigenvalue_genperbatch test to use PyAPITestHarness
  tests/regression_tests/eigenvalue_genperbatch/geometry.xml
  tests/regression_tests/eigenvalue_genperbatch/inputs_true.dat
  tests/regression_tests/eigenvalue_genperbatch/materials.xml
  tests/regression_tests/eigenvalue_genperbatch/settings.xml
  tests/regression_tests/eigenvalue_genperbatch/test.py
Owners: none

Add tallies to eigenvalue_genperbatch test
  tests/regression_tests/eigenvalue_genperbatch/inputs_true.dat
  tests/regression_tests/eigenvalue_genperbatch/results_true.dat
  tests/regression_tests/eigenvalue_genperbatch/test.py
Owners: none

added back in some tests to travis
  .travis.yml
Owners: none

added back in some tests to travis
  .travis.yml
Owners: none

Update test results
  tests/regression_tests/cmfd_feed/results_true.dat
  tests/regression_tests/cmfd_feed_2g/results_true.dat
  tests/regression_tests/cmfd_feed_expanding_window/results_true.dat
  tests/regression_tests/cmfd_feed_ng/results_true.dat
  tests/regression_tests/cmfd_feed_ref_d/results_true.dat
  tests/regression_tests/cmfd_feed_rolling_window/results_true.dat
  tests/regression_tests/cmfd_restart/results_true.dat
  tests/regression_tests/tallies/results_true.dat
Owners: none

Update test results
  tests/regression_tests/cmfd_feed/results_true.dat
  tests/regression_tests/cmfd_feed_2g/results_true.dat
  tests/regression_tests/cmfd_feed_expanding_window/results_true.dat
  tests/regression_tests/cmfd_feed_ng/results_true.dat
  tests/regression_tests/cmfd_feed_ref_d/results_true.dat
  tests/regression_tests/cmfd_feed_rolling_window/results_true.dat
  tests/regression_tests/cmfd_restart/results_true.dat
  tests/regression_tests/tallies/results_true.dat
Owners: none

cast enum to int where necessary and remove extern C from surf BC enum
  include/openmc/surface.h
  src/tallies/tally.cpp
Owners: none

moved shared fission bank and event based functions around. Created new event files for event-based logic.
  CMakeLists.txt
  include/openmc/bank.h
  include/openmc/event.h
  include/openmc/simulation.h
  src/bank.cpp
  src/event.cpp
  src/particle_restart.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

moved shared fission bank and event based functions around. Created new event files for event-based logic.
  CMakeLists.txt
  include/openmc/bank.h
  include/openmc/event.h
  include/openmc/simulation.h
  src/bank.cpp
  src/event.cpp
  src/particle_restart.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

Enforcement of maximum shared fission bank length added. Also some minor code cleanup.
  src/bank.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag

Enforcement of maximum shared fission bank length added. Also some minor code cleanup.
  src/bank.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
Owners: @nelsonag
