Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen

Fix reading of horizontal field of view for ray-traced plots (#3330)
  openmc/plots.py
  src/plot.cpp
  tests/regression_tests/plot_projections/results_true.dat
Owners: @pshriwise

Update particle_data.h
  include/openmc/particle_data.h
Owners: none

Update settings.rst
  docs/source/io_formats/settings.rst
Owners: none

Update settings.h
  include/openmc/settings.h
Owners: none

Update simulation.cpp
  src/simulation.cpp
Owners: none

Adding survival normalization parameter to the Python object.
  openmc/settings.py
  tests/unit_tests/test_settings.py
Owners: none

Update physics_mg.cpp
  src/physics_mg.cpp
Owners: @nelsonag

Update settings.cpp
  src/settings.cpp
Owners: none

Update simulation.cpp
  src/simulation.cpp
Owners: none

Update physics.cpp
  src/physics.cpp
Owners: none

C++ format updates
  src/physics.cpp
  src/physics_mg.cpp
  src/settings.cpp
Owners: @nelsonag

C++ format after rebase
  include/openmc/settings.h
Owners: none

Removing comment
  src/simulation.cpp
Owners: none

Move starting weight initialization into Particle::from_source
  src/particle.cpp
  src/simulation.cpp
Owners: none

Small updates
  docs/source/io_formats/settings.rst
  openmc/settings.py
Owners: none

Rename wgt0 to wgt_born
  include/openmc/particle_data.h
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
Owners: @nelsonag

Remove redundant code
  openmc/settings.py
Owners: none

+ get_all_nuclides and get_all_materials in Model
  openmc/model/model.py
Owners: none

added check for linear source when generating weight windows with overlaid meshes
  src/random_ray/random_ray_simulation.cpp
Owners: @jtramm

small refactor in model
  openmc/model/model.py
Owners: none

feat(cell): Add Stochastic_Media enum value
  include/openmc/cell.h
Owners: none

removed MPI from random ray solver
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/random_ray_simulation.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

fixed MPI errors with statepoint writing.
  CMakeLists.txt
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
Owners: @jtramm

updated tests to account for removal of n_hits < 100 restriction on calculating linear sources
  CMakeLists.txt
  tests/regression_tests/random_ray_fixed_source_mesh/linear/results_true.dat
  tests/regression_tests/weightwindows_fw_cadis_mesh/linear/results_true.dat
Owners: none
