Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

tests the download function in _utils.py
  tests/unit_tests/test_utils.py
Owners: none

tests the download function in _utils.py
  tests/unit_tests/test_utils.py
Owners: none

Correction to generated test input filename.
  tests/testing_harness.py
Owners: none

Correction to generated test input filename.
  tests/testing_harness.py
Owners: none

made secondary particle bank particle owned instead of thread private
  include/openmc/bank.h
  include/openmc/particle.h
  src/bank.cpp
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
  src/tallies/tally_scoring.cpp
Owners: @nelsonag

made secondary particle bank particle owned instead of thread private
  include/openmc/bank.h
  include/openmc/particle.h
  src/bank.cpp
  src/particle.cpp
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
  src/tallies/tally_scoring.cpp
Owners: @nelsonag

changed particle init index to match history based method (1 vs. 0-based). Also added some print statements etc.
  src/random_lcg.cpp
  src/simulation.cpp
Owners: none

changed particle init index to match history based method (1 vs. 0-based). Also added some print statements etc.
  src/random_lcg.cpp
  src/simulation.cpp
Owners: none

fixed reproducibility issue
  examples/xml/pincell/settings.xml
  include/openmc/particle.h
  src/physics.cpp
  src/simulation.cpp
Owners: none

fixed reproducibility issue
  examples/xml/pincell/settings.xml
  include/openmc/particle.h
  src/physics.cpp
  src/simulation.cpp
Owners: none

removed print statements
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

removed print statements
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

fixed MPI issues that resulted from adding Bank struct member
  include/openmc/particle.h
  src/initialize.cpp
  src/simulation.cpp
Owners: none

fixed MPI issues that resulted from adding Bank struct member
  include/openmc/particle.h
  src/initialize.cpp
  src/simulation.cpp
Owners: none

added some print statements
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

added particle trace print
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

added some print statements
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

added particle trace print
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

sab print statements
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

sab print statements
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

finally reproducible. Change was to the XS lookups. Old way was doing something different I guess, so reverting to original code fixed it all
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

some minor optimizations
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

finally reproducible. Change was to the XS lookups. Old way was doing something different I guess, so reverting to original code fixed it all
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

some minor optimizations
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

formatting
  src/simulation.cpp
Owners: none

added sorting
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

updated max particles in flight to be much bigger
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

formatting
  src/simulation.cpp
Owners: none

added sorting
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

updated max particles in flight to be much bigger
  examples/xml/pincell/settings.xml
  src/simulation.cpp
Owners: none

changed to more flexible timers
  src/simulation.cpp
Owners: none

changed to more flexible timers
  src/simulation.cpp
Owners: none

update Bank datatype on python side
  examples/xml/pincell/settings.xml
  openmc/lib/core.py
Owners: @paulromano

update Bank datatype on python side
  examples/xml/pincell/settings.xml
  openmc/lib/core.py
Owners: @paulromano

removed ifdef guard for openmp when populating fission bank
  src/simulation.cpp
Owners: none

removed ifdef guard for openmp when populating fission bank
  src/simulation.cpp
Owners: none

fixed broken stuff from prn interface changes
  include/openmc/geometry.h
  include/openmc/particle.h
  include/openmc/simulation.h
  src/physics.cpp
  src/simulation.cpp
Owners: none

fixed broken stuff from prn interface changes
  include/openmc/geometry.h
  include/openmc/particle.h
  include/openmc/simulation.h
  src/physics.cpp
  src/simulation.cpp
Owners: none

resolved some conflicts when rebasing with develop
  examples/xml/pincell/settings.xml
  src/physics.cpp
  src/simulation.cpp
Owners: none

resolved some conflicts when rebasing with develop
  examples/xml/pincell/settings.xml
  src/physics.cpp
  src/simulation.cpp
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer
