Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

Refactoring in progress
  include/openmc/ifp.h
  src/bank.cpp
  src/eigenvalue.cpp
  src/ifp.cpp
Owners: none

Format
  src/tallies/tally_scoring.cpp
Owners: none

added terminal output showing compile options selected (#3291)
  CMakeLists.txt
Owners: none

more minimal sci kit core build
  .github/workflows/docker-publish-manylinux.yml
  .github/workflows/pypi.yml
  openmc/__init__.py
  tools/ci/manylinux.dockerfile
Owners: none

Also make OpenMCConfig.cmake work with NCrystal from pip wheels
  cmake/OpenMCConfig.cmake.in
Owners: none

Remove spurious NCrystal include which will be removed in NCrystal 4.0.0
  include/openmc/ncrystal_interface.h
Owners: none

Make sure find_package(NCrystal) also works with pip installed NCrystal
  CMakeLists.txt
  docs/source/usersguide/install.rst
Owners: none

Try to appease clang-format
  include/openmc/ncrystal_interface.h
Owners: none

Replace manual git clone and cmake build of NCrystal with pip install
  tools/ci/gha-install-ncrystal.sh
  tools/ci/gha-install.py
  tools/ci/gha-install.sh
  tools/ci/gha-script.sh
Owners: none

Update ncrystal/results_true.dat for NCrystal 4.0.0
  tests/regression_tests/ncrystal/results_true.dat
  tools/ci/gha-install.sh
Owners: none

returning files to develop branch state
  Dockerfile
  MANIFEST.in
Owners: @shimwell

minimal dif
  .gitignore
  tools/ci/gha-install.py
Owners: none

minimal diff
  tools/ci/gha-install.sh
Owners: none

Updates for building with NCrystal support (and fix CI) (#3274)
  CMakeLists.txt
  cmake/OpenMCConfig.cmake.in
  docs/source/usersguide/install.rst
  include/openmc/ncrystal_interface.h
  tests/regression_tests/ncrystal/results_true.dat
  tools/ci/gha-install-ncrystal.sh
  tools/ci/gha-install.py
  tools/ci/gha-install.sh
  tools/ci/gha-script.sh
Owners: none

minor simplification of csg/dag geometry type checking
  include/openmc/cell.h
  include/openmc/dagmc.h
  include/openmc/surface.h
  include/openmc/universe.h
  src/cell.cpp
  src/dagmc.cpp
  src/surface.cpp
Owners: @pshriwise

min diff
  docs/source/devguide/workflow.rst
Owners: none

min diff
  tools/ci/gha-install.py
Owners: none

adding nyc path finding back
  tools/ci/gha-install.py
Owners: none

reverted adding nyc path finding back
  tools/ci/gha-install.py
Owners: none

removing ncrystal from ci to test other configs
  .github/workflows/ci.yml
Owners: none

[skip ci] adding ncrystal back into test matrix
  .github/workflows/ci.yml
Owners: none

adding ncrystal as optional dep
  pyproject.toml
  tools/ci/gha-install.py
Owners: none

ncrystal not ncrystal-core
  pyproject.toml
Owners: none

experimenting with small SR stabilization. The alpha balancing between base SR and last local seems to work well
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

reverted ncrystal in optional dep
  pyproject.toml
  tools/ci/gha-install.py
Owners: none

added ncrystal as build dep
  pyproject.toml
Owners: none

reduce ci to single task
  .github/workflows/ci.yml
Owners: none

Documentation
  docs/source/usersguide/index.rst
  docs/source/usersguide/kinetics.rst
  docs/source/usersguide/tallies.rst
Owners: none

Small edits here and there
  include/openmc/particle_data.h
  include/openmc/plot.h
  include/openmc/surface.h
  openmc/_xml.py
  openmc/plots.py
  src/plot.cpp
  tests/unit_tests/test_plots.py
Owners: @pshriwise

Random Ray Source Region Refactor (#3288)
  CMakeLists.txt
  include/openmc/openmp_interface.h
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/linear_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

added ncrystal as build and runtime dep
  pyproject.toml
  tools/ci/gha-install.py
Owners: none

trying --no-build-isolation
  pyproject.toml
  tools/ci/gha-install.py
Owners: none

added --no-build-isolation
  tools/ci/gha-install.py
Owners: none

Address @pshriwise comments and make other fixes
  openmc/mesh.py
  tests/unit_tests/test_mesh.py
Owners: none

continued experimentation with small subdivided cell stabilization
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

Update argument name and add warning
  openmc/data/thermal.py
  tests/unit_tests/test_data_thermal.py
Owners: @paulromano

Documentation + cleaning
  include/openmc/ifp.h
  src/ifp.cpp
Owners: none

Correct normalization of thermal elastic in non standard ENDF-6 files (#3234)
  openmc/data/thermal.py
  tests/unit_tests/test_data_thermal.py
Owners: @paulromano

*Post review commit of @gridley. Adopted xml-to-xtensor logic. Removed useless routines. Added comments. Removed function without proper naming conventions
  CMakeLists.txt
  include/openmc/surface.h
  include/openmc/tpms.h
  include/openmc/tpms_functions.h
  openmc/surface.py
  src/surface.cpp
  src/tpms_functions.cpp
Owners: none

refactored and I think its all correct. Now to update the source region machinery for volume_sq etc.
  include/openmc/random_ray/random_ray.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
