Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

Fix access order issues after applying tally results from `Model.run`. (#3313)
  openmc/statepoint.py
  openmc/tallies.py
  tests/unit_tests/test_tallies.py
Owners: none

reflect multi-group MicroXS in IndependnetOperator
  openmc/deplete/independent_operator.py
  openmc/deplete/openmc_operator.py
Owners: @paulromano

Random Ray Linear Source Stability Improvement (#3322)
  src/random_ray/linear_source_domain.cpp
  tests/regression_tests/random_ray_fixed_source_linear/linear/results_true.dat
  tests/regression_tests/random_ray_fixed_source_linear/linear_xy/results_true.dat
  tests/regression_tests/random_ray_fixed_source_subcritical/linear_xy/results_true.dat
  tests/regression_tests/random_ray_fixed_source_subcritical/test.py
  tests/regression_tests/random_ray_void/linear/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/hybrid/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/naive/results_true.dat
  tests/regression_tests/random_ray_volume_estimator_linear/simulation_averaged/results_true.dat
Owners: @jtramm

Clarify effect of CMAKE_BUILD_TYPE in docs (#3321)
  docs/source/usersguide/install.rst
Owners: none

Mark a canonical URL for docs (#3324)
  docs/source/conf.py
Owners: none

Fixes for problems encountered with version determination (#3320)
  .readthedocs.yaml
  Dockerfile
  LICENSE
  cmake/Modules/GetVersionFromGit.cmake
  docs/source/conf.py
  docs/source/license.rst
  man/man1/openmc.1
Owners: @shimwell

merged with develop
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

Random Ray Adjoint Source Logic Improvement (#3325)
  src/random_ray/flat_source_domain.cpp
  tests/regression_tests/random_ray_adjoint_fixed_source/inputs_true.dat
  tests/regression_tests/random_ray_adjoint_fixed_source/results_true.dat
  tests/regression_tests/random_ray_adjoint_fixed_source/test.py
Owners: @jtramm

Fix typos and prefer 'multigroup'
  openmc/deplete/independent_operator.py
Owners: @paulromano

Reflect multigroup MicroXS in IndependentOperator docstrings (#3327)
  openmc/deplete/independent_operator.py
  openmc/deplete/openmc_operator.py
Owners: @paulromano

Update args going into openmc.lib.init rather than replace
  openmc/mesh.py
Owners: none

Make output default consistent with openmc.lib method
  openmc/mesh.py
Owners: none

Correcting placement of default value
  openmc/mesh.py
  src/mesh.cpp
Owners: none

Fix quotes
  openmc/mesh.py
Owners: none

adding per kg as unit
  openmc/material.py
Owners: none

added tests for kg units
  tests/unit_tests/test_material.py
Owners: none

Compute material volumes in mesh elements based on raytracing (#3129)
  docs/source/pythonapi/base.rst
  include/openmc/bounding_box.h
  include/openmc/capi.h
  include/openmc/mesh.h
  openmc/lib/mesh.py
  openmc/mesh.py
  src/mesh.cpp
  src/particle.cpp
  tests/unit_tests/test_lib.py
  tests/unit_tests/test_mesh.py
Owners: @paulromano

added kg to docstrings
  openmc/material.py
Owners: none

modifications made for filter_weight to work
  src/tallies/filter_weight.cpp
Owners: none

tokamak fw-cadis working with FS.
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
  src/weight_windows.cpp
Owners: @jtramm

corrected scaling factor calc
  openmc/material.py
  tests/unit_tests/test_material.py
Owners: none

lots of debugging. No progress on LS yet
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

Appear to have found it. Problem was in the linear source version of set_flux_to_old_flux, which was way off
  src/geometry_aux.cpp
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

Fix read of horizontal_field_of_view. Update docstrings
  openmc/plots.py
  src/plot.cpp
Owners: @pshriwise

Update plot test result
  tests/regression_tests/plot_projections/results_true.dat
Owners: none

code cleanup
  src/geometry_aux.cpp
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

[docs] links - change http to https
  docs/source/devguide/workflow.rst
  docs/source/index.rst
  openmc/examples.py
Owners: none

[docs] links - fix various broken links and redirections
  docs/source/devguide/styleguide.rst
  docs/source/devguide/tests.rst
  docs/source/methods/cross_sections.rst
  docs/source/usersguide/data.rst
  docs/source/usersguide/parallel.rst
  openmc/lib/weight_windows.py
  openmc/mgxs/__init__.py
Owners: @pshriwise

[docs] links - fix LANL reports
  docs/source/io_formats/settings.rst
  docs/source/methods/photon_physics.rst
Owners: none

[docs] links - fix various links
  docs/source/methods/geometry.rst
  docs/source/methods/photon_physics.rst
Owners: none

fixup! [docs] links - fix various links
  docs/source/usersguide/data.rst
Owners: none

Adding per kg as unit option on material functions (#3329)
  openmc/material.py
  tests/unit_tests/test_material.py
Owners: none

Expanding on the horizontal field of view error message a bit
  src/plot.cpp
Owners: @pshriwise

Use Python API for regression test, small updates
  docs/source/io_formats/settings.rst
  docs/source/io_formats/statepoint.rst
  include/openmc/random_lcg.h
  openmc/settings.py
  src/random_lcg.cpp
  tests/regression_tests/stride/geometry.xml
  tests/regression_tests/stride/inputs_true.dat
  tests/regression_tests/stride/materials.xml
  tests/regression_tests/stride/settings.xml
  tests/regression_tests/stride/test.py
Owners: none

Format fix
  src/plot.cpp
Owners: @pshriwise

Manually fix broken links (#3331)
  docs/source/devguide/styleguide.rst
  docs/source/devguide/tests.rst
  docs/source/devguide/workflow.rst
  docs/source/index.rst
  docs/source/io_formats/settings.rst
  docs/source/methods/cross_sections.rst
  docs/source/methods/geometry.rst
  docs/source/methods/photon_physics.rst
  docs/source/usersguide/data.rst
  docs/source/usersguide/parallel.rst
  openmc/examples.py
  openmc/lib/weight_windows.py
  openmc/mgxs/__init__.py
Owners: @pshriwise

cleaning up print statements and comments etc
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
  src/weight_windows.cpp
Owners: @jtramm

continued cleanup
  include/openmc/random_ray/moment_matrix.h
  include/openmc/random_ray/source_region.h
  src/mesh.cpp
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
Owners: @jtramm

cleanup of comments etc
  CMakeLists.txt
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
Owners: @jtramm

cleanup of comments etc
  src/random_ray/random_ray.cpp
Owners: @jtramm

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
