Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @drewejohnson, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer

Add a settings flag to turn off/on delayed photon fission yield scaling
  docs/source/io_formats/settings.rst
  include/openmc/settings.h
  openmc/settings.py
  src/finalize.cpp
  src/nuclide.cpp
  src/relaxng/settings.rnc
  src/relaxng/settings.rng
  src/settings.cpp
Owners: none

removed event-based define build option
  CMakeLists.txt
  tools/ci/travis-install.py
Owners: none

removed event-based define build option
  CMakeLists.txt
  tools/ci/travis-install.py
Owners: none

reset travis.yml to default
  .travis.yml
Owners: none

reset travis.yml to default
  .travis.yml
Owners: none

removed all event-based code from this branch
  include/openmc/event.h
  src/event.cpp
  src/output.cpp
  src/simulation.cpp
Owners: none

removed all event-based code from this branch
  include/openmc/event.h
  src/event.cpp
  src/output.cpp
  src/simulation.cpp
Owners: none

added some comments to particle object to explain new fields.
  include/openmc/particle.h
Owners: none

added some comments to particle object to explain new fields.
  include/openmc/particle.h
Owners: none

Add a missing @smharper publication in list
  docs/source/publications.rst
Owners: none

Add a missing @smharper publication in list
  docs/source/publications.rst
Owners: none

Moved allocation/freeing of SHM fission bank into the existing allocation/freeing routines for the bank, to simplify things slightly. Also restored the DagMC regression tests.
  include/openmc/bank.h
  src/bank.cpp
  src/simulation.cpp
  tests/regression_tests/dagmc/legacy/test.py
  tests/regression_tests/dagmc/refl/test.py
  tests/regression_tests/dagmc/uwuw/test.py
Owners: @pshriwise

Moved allocation/freeing of SHM fission bank into the existing allocation/freeing routines for the bank, to simplify things slightly. Also restored the DagMC regression tests.
  include/openmc/bank.h
  src/bank.cpp
  src/simulation.cpp
  tests/regression_tests/dagmc/legacy/test.py
  tests/regression_tests/dagmc/refl/test.py
  tests/regression_tests/dagmc/uwuw/test.py
Owners: @pshriwise

formatting sweep
  CMakeLists.txt
  include/openmc/physics_mg.h
  include/openmc/tallies/derivative.h
  include/openmc/tallies/tally_scoring.h
  src/bank.cpp
  src/geometry.cpp
  src/particle.cpp
  src/physics_mg.cpp
  src/random_lcg.cpp
  src/simulation.cpp
  src/tallies/tally_scoring.cpp
  src/track_output.cpp
  tests/regression_tests/cmfd_feed_2g/test.py
  tests/regression_tests/cmfd_feed_ng/test.py
  tests/regression_tests/mg_basic_delayed/test.py
  tests/regression_tests/photon_production/test.py
Owners: @nelsonag, @amandalund

formatting sweep
  CMakeLists.txt
  include/openmc/physics_mg.h
  include/openmc/tallies/derivative.h
  include/openmc/tallies/tally_scoring.h
  src/bank.cpp
  src/geometry.cpp
  src/particle.cpp
  src/physics_mg.cpp
  src/random_lcg.cpp
  src/simulation.cpp
  src/tallies/tally_scoring.cpp
  src/track_output.cpp
  tests/regression_tests/cmfd_feed_2g/test.py
  tests/regression_tests/cmfd_feed_ng/test.py
  tests/regression_tests/mg_basic_delayed/test.py
  tests/regression_tests/photon_production/test.py
Owners: @nelsonag, @amandalund

Removed some comment references to threadprivate variables that no longer exist.
  include/openmc/bank.h
  include/openmc/tallies/derivative.h
  include/openmc/tallies/tally.h
  src/simulation.cpp
Owners: none

Removed some comment references to threadprivate variables that no longer exist.
  include/openmc/bank.h
  include/openmc/tallies/derivative.h
  include/openmc/tallies/tally.h
  src/simulation.cpp
Owners: none

Unified the calculate XS functions, as its not really necessary to split them up. Also cleaned up simulation headers.
  include/openmc/geometry.h
  include/openmc/particle.h
  src/particle.cpp
  src/simulation.cpp
Owners: none

Unified the calculate XS functions, as its not really necessary to split them up. Also cleaned up simulation headers.
  include/openmc/geometry.h
  include/openmc/particle.h
  src/particle.cpp
  src/simulation.cpp
Owners: none

moved transport functions in simulation to be more consistent
  include/openmc/geometry.h
  include/openmc/simulation.h
  src/simulation.cpp
Owners: none

moved transport functions in simulation to be more consistent
  include/openmc/geometry.h
  include/openmc/simulation.h
  src/simulation.cpp
Owners: none

moved FilterMatch definition to its own file, so as to remove the circular dependency between filter.h and particle.h
  include/openmc/geometry.h
  include/openmc/particle.h
  include/openmc/tallies/filter.h
  include/openmc/tallies/filter_match.h
Owners: none

moved FilterMatch definition to its own file, so as to remove the circular dependency between filter.h and particle.h
  include/openmc/geometry.h
  include/openmc/particle.h
  include/openmc/tallies/filter.h
  include/openmc/tallies/filter_match.h
Owners: none

Make sure isotropic angular distribution gets created from ACE files
  openmc/data/reaction.py
Owners: @paulromano

Make sure isotropic angular distribution gets created from ACE files
  openmc/data/reaction.py
Owners: @paulromano

more formatting changes
  include/openmc/bank.h
  include/openmc/particle.h
Owners: none

more formatting changes
  include/openmc/bank.h
  include/openmc/particle.h
Owners: none

Converted DagMC threadprivate variables to particle owned as well. Not quite as bad as I was expecting.
  include/openmc/cell.h
  include/openmc/dagmc.h
  include/openmc/particle.h
  include/openmc/surface.h
  src/cell.cpp
  src/dagmc.cpp
  src/geometry.cpp
  src/particle.cpp
  src/surface.cpp
Owners: @pshriwise

Converted DagMC threadprivate variables to particle owned as well. Not quite as bad as I was expecting.
  include/openmc/cell.h
  include/openmc/dagmc.h
  include/openmc/particle.h
  include/openmc/surface.h
  src/cell.cpp
  src/dagmc.cpp
  src/geometry.cpp
  src/particle.cpp
  src/surface.cpp
Owners: @pshriwise

formatting
  src/physics.cpp
  src/physics_mg.cpp
Owners: @nelsonag

formatting
  src/physics.cpp
  src/physics_mg.cpp
Owners: @nelsonag

bug fix in dagmc last_dir name
  src/surface.cpp
Owners: none

bug fix in dagmc last_dir name
  src/surface.cpp
Owners: none

formatting cleanup
  include/openmc/geometry.h
  include/openmc/mesh.h
  include/openmc/tallies/derivative.h
  include/openmc/tallies/tally_scoring.h
  src/bank.cpp
  src/geometry.cpp
  src/mesh.cpp
  src/particle_restart.cpp
  src/simulation.cpp
  src/tallies/derivative.cpp
Owners: none

formatting cleanup
  include/openmc/geometry.h
  include/openmc/mesh.h
  include/openmc/tallies/derivative.h
  include/openmc/tallies/tally_scoring.h
  src/bank.cpp
  src/geometry.cpp
  src/mesh.cpp
  src/particle_restart.cpp
  src/simulation.cpp
  src/tallies/derivative.cpp
Owners: none

Fix check for no angle distribution in elastic scattering
  src/physics.cpp
Owners: none

Fix check for no angle distribution in elastic scattering
  src/physics.cpp
Owners: none

changed FilterBinIter interface to simplify things a little
  include/openmc/tallies/tally_scoring.h
  src/tallies/tally_scoring.cpp
Owners: none

changed FilterBinIter interface to simplify things a little
  include/openmc/tallies/tally_scoring.h
  src/tallies/tally_scoring.cpp
Owners: none

formatting cleanup
  src/physics.cpp
  src/physics_mg.cpp
  src/simulation.cpp
  src/tallies/derivative.cpp
  src/track_output.cpp
Owners: @nelsonag

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @drewejohnson
tests/regression_tests/deplete/ @drewejohnson
tests/unit_tests/test_deplete_*.py @drewejohnson

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer
