Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

added fields to SourceRegion
  include/openmc/random_ray/source_region.h
  src/random_ray/source_region.cpp
Owners: @jtramm

calling flux attenuation function now
  src/random_ray/random_ray.cpp
Owners: @jtramm

Remove cmake/GenerateScript.cmake
  CMakeLists.txt
  cmake/GenerateScript.cmake
Owners: none

Add openmc entry point wrapper in openmc/_cli_openmc.py
  openmc/_cli_openmc.py
  pyproject.toml
Owners: none

Always enable NCrystal in scikit builds
  pyproject.toml
Owners: none

Prevent explosion of wheel numbers by producing ABI3 wheels
  pyproject.toml
Owners: none

Move scripts to openmc/scripts and update pyproject.toml
  openmc/scripts/openmc-ace-to-hdf5
  openmc/scripts/openmc-plot-mesh-tally
  openmc/scripts/openmc-track-combine
  openmc/scripts/openmc-track-to-vtk
  openmc/scripts/openmc-update-inputs
  openmc/scripts/openmc-update-mgxs
  openmc/scripts/openmc-voxel-to-vtk
  pyproject.toml
Owners: none

allow python to find folder
  openmc/scripts/__init__.py
Owners: none

added main function and .py to filename
  openmc/scripts/openmc-ace-to-hdf5.py
  openmc/scripts/openmc-plot-mesh-tally.py
  openmc/scripts/openmc-track-combine.py
  openmc/scripts/openmc-track-to-vtk.py
  openmc/scripts/openmc-update-inputs.py
  openmc/scripts/openmc-update-mgxs.py
  openmc/scripts/openmc-voxel-to-vtk.py
  pyproject.toml
Owners: none

Adding tmate action to CI for debugging (#3138)
  .github/workflows/ci.yml
  docs/source/devguide/tests.rst
Owners: none

added main functions that can be called without args
  openmc/scripts/openmc-track-combine.py
  openmc/scripts/openmc-voxel-to-vtk.py
  openmc/scripts/openmc_ace_to_hdf5.py
  openmc/scripts/openmc_plot_mesh_tally.py
  openmc/scripts/openmc_track_combine.py
  openmc/scripts/openmc_track_to_vtk.py
  openmc/scripts/openmc_update_inputs.py
  openmc/scripts/openmc_update_mgxs.py
  openmc/scripts/openmc_voxel_to_vtk.py
Owners: none

removed no build deps
  tools/ci/gha-install.py
Owners: none

default to NCRYSTAL off
  pyproject.toml
Owners: none

added 2nd ci and continue on error
  .github/workflows/ci.yml
Owners: none

installing ncrystal in ci if needed
  pyproject.toml
  tools/ci/gha-install.py
Owners: none

simpler pip install =
  tools/ci/gha-install.py
Owners: none

pass through complete
  include/openmc/random_ray/random_ray.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/linear_source_domain.cpp
  src/random_ray/random_ray.cpp
Owners: @jtramm

ran git clang format
  src/random_ray/source_region.cpp
Owners: @jtramm

removed change to adjoint source computation as this is unrelated to current PR
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

Move source so it's not coincident with tet edge
  tests/unit_tests/test_mesh.py
Owners: none

added void estimator test
  tests/regression_tests/random_ray_void/__init__.py
  tests/regression_tests/random_ray_void/flat/inputs_true.dat
  tests/regression_tests/random_ray_void/flat/results_true.dat
  tests/regression_tests/random_ray_void/linear/inputs_true.dat
  tests/regression_tests/random_ray_void/linear/results_true.dat
  tests/regression_tests/random_ray_void/test.py
Owners: none

added check for sigma_t = zero at program init
  src/random_ray/random_ray_simulation.cpp
Owners: @jtramm

simplified testing script
  tests/regression_tests/random_ray_void/test.py
Owners: none

simplified testing script
  tests/regression_tests/random_ray_void/test.py
Owners: none

Documentation + cleaning
  include/openmc/ifp.h
  src/ifp.cpp
Owners: none

ran clang-format v15
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

simplify update_neutron_source loop
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

random_ray[key] -> value
  openmc/settings.py
Owners: none

update rr adjoint keff test
  tests/regression_tests/random_ray_adjoint_k_eff/results_true.dat
Owners: none

improved cmake LLVM 19 treatment
  CMakeLists.txt
Owners: none

removed unneeded MPI allreduce
  src/random_ray/source_region.cpp
Owners: @jtramm

ran git clang-format develop with LLVM15
  include/openmc/particle_data.h
  src/random_ray/random_ray.cpp
Owners: @jtramm

ran git clang-format develop with LLVM15
  include/openmc/particle_data.h
Owners: none

not robust but need it before loading openmc
  openmc/lib/__init__.py
Owners: @paulromano

removed scripts
  pyproject.toml
  scripts/openmc-ace-to-hdf5
  scripts/openmc-plot-mesh-tally
  scripts/openmc-track-combine
  scripts/openmc-track-to-vtk
  scripts/openmc-update-inputs
  scripts/openmc-update-mgxs
  scripts/openmc-voxel-to-vtk
Owners: none

updating rtd ubuntu runner from 20.04 to 22.04
  .readthedocs.yaml
Owners: none

bump python and os to new versions
  .readthedocs.yaml
Owners: none

attempt to avoid sphinx error
  .readthedocs.yaml
Owners: none

add ncrystal
  pyproject.toml
Owners: none

no need to install ncrystall twice
  tools/ci/gha-install.py
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
