Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

Try using different unstructured mesh file
  tests/regression_tests/unstructured_mesh/test_mesh_dagmc_tets.vtk
  tests/unit_tests/test_mesh.py
Owners: none

Move skipif to test, not fixture
  tests/unit_tests/test_mesh.py
Owners: none

Static prime basis array
  src/random_ray/random_ray.cpp
Owners: @jtramm

Move permutation vector for optimized memory allocation
  src/random_ray/random_ray.cpp
Owners: @jtramm

Check dimension size
  src/random_ray/random_ray.cpp
Owners: @jtramm

Add VTU export for Unstructured meshes (#3290)
  openmc/mesh.py
  tests/unit_tests/test_mesh.py
Owners: none

Avoid error in CI from newlines in commit message
  .github/workflows/ci.yml
Owners: none

added is_small, and more experimentation with linear stabilization.
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

added is_small, and more experimentation with linear stabilization.
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

Avoid error in CI from newlines in commit message (#3302)
  .github/workflows/ci.yml
Owners: none

Avoid end of life ubuntu 20.04 in ReadTheDocs runner (#3301)
  .readthedocs.yaml
Owners: none

Handle reflex angles in CylinderSector
  openmc/model/surface_composite.py
  tests/unit_tests/test_surface_composite.py
Owners: none

significant experimentation with stabilization of linear sources. Appears to be working more or less now with hit count stabilizing + small fsr finding + negative 0th order component check
  include/openmc/random_ray/moment_matrix.h
  include/openmc/random_ray/parallel_map.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

renabled naive ls small cell handling
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

source build NCrystal
  CMakeLists.txt
  tools/ci/gha-install-ncrystal.sh
  tools/ci/gha-install.py
  tools/ci/gha-install.sh
Owners: none

fix variables
  tools/ci/gha-install-ncrystal.sh
Owners: none

chmod +x
  tools/ci/gha-install-ncrystal.sh
Owners: none

chmod +x ./tools/ci/gha-install-ncrystal.sh
  tools/ci/gha-install.sh
Owners: none

skip nctool
  tools/ci/gha-script.sh
Owners: none

Add nonelastic to REACTION_NAME_MAP too
  openmc/data/reaction.py
  src/reaction.cpp
Owners: @paulromano

Remove documentation on old scripts
  docs/source/_images/plotmeshtally.png
  docs/source/io_formats/plots.rst
  docs/source/usersguide/plots.rst
  docs/source/usersguide/processing.rst
  docs/source/usersguide/scripts.rst
  docs/source/usersguide/settings.rst
Owners: none

fix tests
  cmake/OpenMCConfig.cmake.in
  tools/ci/gha-install-ncrystal.sh
  tools/ci/gha-script.sh
Owners: none

updated-wheel-building-task
  manylinux.Dockerfile
  pyproject.toml
Owners: none

Remove use of scripts in tests
  tests/regression_tests/track_output/test.py
  tests/testing_harness.py
Owners: none

New FOM and VOV
  openmc/tallies.py
  src/output.cpp
  src/tallies/tally.cpp
Owners: none

adding non elastic MT number (#3285)
  openmc/data/reaction.py
  src/reaction.cpp
Owners: @paulromano

address some PR comments
  docs/source/_images/phong_triso.png
  include/openmc/plot.h
  openmc/plots.py
Owners: none

install only the python module of NCrystal
  tools/ci/gha-script.sh
Owners: none

rename projection/phong plots to {Wireframe,Solid}RayTracePlot
  docs/source/pythonapi/base.rst
  docs/source/releasenotes/0.14.0.rst
  docs/source/usersguide/plots.rst
  include/openmc/plot.h
  openmc/plots.py
  src/plot.cpp
  tests/regression_tests/plot_projections/plots.xml
  tests/unit_tests/test_plots.py
Owners: @pshriwise

finish renaming the ray trace plots
  docs/source/io_formats/plots.rst
  docs/source/pythonapi/base.rst
  docs/source/usersguide/plots.rst
Owners: none

Most of the basic small SR scheme complete, with alpha = 0.02. Now for validation / optimization?
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

simplifying small cell code and adding comments
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

FOM implemented python API + C++
  openmc/tallies.py
  src/output.cpp
  src/tallies/tally.cpp
Owners: none

VOV implemented in Python API and C++
  openmc/tallies.py
  src/hdf5_interface.cpp
  src/output.cpp
  src/state_point.cpp
  src/tallies/tally.cpp
Owners: none

clang format
  include/openmc/plot.h
  src/plot.cpp
Owners: @pshriwise

fix rename problem
  openmc/plots.py
Owners: none

clang format
  src/mesh.cpp
Owners: none

remove const from span source site writing
  include/openmc/state_point.h
  src/state_point.cpp
Owners: none

removed old command line scripts (#3300)
  docs/source/_images/plotmeshtally.png
  docs/source/io_formats/plots.rst
  docs/source/usersguide/plots.rst
  docs/source/usersguide/processing.rst
  docs/source/usersguide/scripts.rst
  docs/source/usersguide/settings.rst
  pyproject.toml
  scripts/openmc-ace-to-hdf5
  scripts/openmc-plot-mesh-tally
  scripts/openmc-track-combine
  scripts/openmc-track-to-vtk
  scripts/openmc-update-inputs
  scripts/openmc-update-mgxs
  scripts/openmc-voxel-to-vtk
  tests/regression_tests/track_output/test.py
  tests/testing_harness.py
Owners: none

remove one more erroneous const
  src/simulation.cpp
Owners: none

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen
