Repository openmc-dev/openmc, changes with the owners that CODEOWNERS names for each.
All owners: @paulromano, @nelsonag, @shikhar413, @pshriwise, @amandalund, @icmeyer, @shimwell, @jtramm, @marquezj, @ebknudsen

CODEOWNERS:

# Data interface
openmc/data/ @paulromano

# Python bindings to C/C++ API
openmc/lib/ @paulromano

# Depletion
openmc/deplete/ @paulromano
tests/regression_tests/deplete/ @paulromano
tests/unit_tests/test_deplete_*.py @paulromano

# MG-related functionality
openmc/mgxs_library.py @nelsonag
src/mgxs.cpp @nelsonag
src/mgxs_interface.cpp @nelsonag
src/physics_mg.cpp @nelsonag
src/scattdata.cpp @nelsonag
src/xsdata.cpp @nelsonag

# CMFD
openmc/cmfd.py @shikhar413
src/cmfd_solver.cpp @shikhar413

# DAGMC
src/dagmc.cpp @pshriwise
tests/regression_tests/dagmc/ @pshriwise
tests/unit_tests/dagmc/ @pshriwise

# Weight windows
openmc/weight_windows.py @pshriwise
openmc/lib/weight_windows.py @pshriwise
src/weight_windows.py @pshriwise
tests/unit_tests/weightwindows/ @pshriwise

# Photon transport
openmc/data/BREMX.DAT @amandalund
openmc/data/compton_profiles.h5 @amandalund
openmc/data/photon.py @amandalund
src/photon.cpp @amandalund
src/bremsstrahlung.cpp @amandalund
tests/regression_tests/photon_production/ @amandalund
tests/regression_tests/photon_source/ @amandalund

# RCP and TRISOs
openmc/model/triso.py @amandalund
tests/regression_tests/triso/ @amandalund
tests/unit_tests/test_model_triso.py @amandalund

# Geometry plotting
src/plot.cpp @pshriwise
openmc/lib/plot.py @pshriwise

# Resonance covariance
openmc/data/resonance_covariance.py @icmeyer

# Docker
Dockerfile @shimwell

# Random ray
src/random_ray/ @jtramm

# NCrystal interface
src/ncrystal_interface.cpp @marquezj

# MCPL interface
src/mcpl_interface.cpp @ebknudsen

Fix Tabular.from_xml_element for histogram case (#3287)
  openmc/stats/univariate.py
  src/distribution.cpp
  tests/unit_tests/test_stats.py
Owners: none

Update tests/unit_tests/test_mesh.py
  tests/unit_tests/test_mesh.py
Owners: none

Update openmc/mesh.py
  openmc/mesh.py
Owners: none

Missing files for FOM
  openmc/settings.py
  openmc/tallies.py
Owners: none

Arrived at good way of handling small source regions
  include/openmc/random_ray/flat_source_domain.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

added more comments
  src/random_ray/flat_source_domain.cpp
Owners: @jtramm

update rhalton sampling to double precision
  src/random_ray/random_ray.cpp
  tests/regression_tests/random_ray_halton_samples/results_true.dat
Owners: @jtramm

reduce rhalton outputs to one array of samples
  src/random_ray/random_ray.cpp
Owners: @jtramm

use FP_COINCIDENT to shift particle positions
  src/random_ray/random_ray.cpp
Owners: @jtramm

Fixed issues with new source regions being discovered in dead zone and then never revisted, causing repeated tally mapping. Now we map tallies again whenever new SRs are found.
  include/openmc/random_ray/random_ray_simulation.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray.cpp
  src/random_ray/random_ray_simulation.cpp
Owners: @jtramm

*Final commit before merge. Updated regression tests. Improved ray-tracxing algorithm var computations. improved API user friendly routines.
  include/openmc/surface.h
  include/openmc/tpms.h
  openmc/surface.py
  src/surface.cpp
  src/tpms.cpp
  tests/regression_tests/TPMS/base_no_tpms/base_no_tpms.py
  tests/regression_tests/TPMS/base_no_tpms/geometry.xml
  tests/regression_tests/TPMS/base_no_tpms/materials.xml
  tests/regression_tests/TPMS/base_no_tpms/plots.xml
  tests/regression_tests/TPMS/base_no_tpms/settings.xml
  tests/regression_tests/TPMS/from_relative_densities/from_relative_densities.py
  tests/regression_tests/TPMS/from_relative_densities/geometry.xml
  tests/regression_tests/TPMS/from_relative_densities/plots.xml
  tests/regression_tests/TPMS/from_relative_densities/settings.xml
  tests/regression_tests/TPMS/p_schwarz_pwr/p_schwarz_pwr.py
  tests/regression_tests/TPMS/p_schwarz_pwr/settings.xml
  tests/regression_tests/tpms_interpolated/diamond_simple_interpolation/diamond_simple_interpolation.py
  tests/regression_tests/tpms_interpolated/diamond_simple_interpolation/geometry.xml
  tests/regression_tests/tpms_interpolated/gyroid_simple_interpolation/geometry.xml
  tests/regression_tests/tpms_interpolated/gyroid_simple_interpolation/gyroid_simple_interpolation.py
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_constant_pitch/geometry.xml
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_constant_pitch/p_schwarz_simple_constant_pitch.py
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_constant_thickness/geometry.xml
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_constant_thickness/p_schwarz_simple_constant_thickness.py
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_interpolation/geometry.xml
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_interpolation/p_schwarz_simple_interpolation.py
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_matrices/geometry.xml
  tests/regression_tests/tpms_interpolated/p_schwarz_simple_matrices/p_schwarz_simple_matrices.py
Owners: none

Formatting + Docstrings
  include/openmc/bisect.h
  include/openmc/surface.h
  include/openmc/tpms.h
  include/openmc/tpms_functions.h
  openmc/surface.py
  openmc/tpms_function.py
  src/cell.cpp
  src/surface.cpp
  src/tpms.cpp
  src/tpms_functions.cpp
Owners: none

fixed adjoint issue, though may have changed behavior of missed policy for regular adjoint calcs
  include/openmc/random_ray/random_ray_simulation.h
  include/openmc/random_ray/source_region.h
  src/random_ray/flat_source_domain.cpp
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

removed some commented out code
  src/random_ray/random_ray_simulation.cpp
  src/random_ray/source_region.cpp
Owners: @jtramm

removed debugging print statement from mesh.cpp
  src/mesh.cpp
Owners: none

fixed typo
  CMakeLists.txt
Owners: none

add new CylinderSector
  openmc/model/surface_composite.py
Owners: none

added fixed source test of mesh overlay, and enhanced negative flux warning for plotter
  src/random_ray/flat_source_domain.cpp
  tests/regression_tests/random_ray_fixed_source_mesh/__init__.py
  tests/regression_tests/random_ray_fixed_source_mesh/flat/inputs_true.dat
  tests/regression_tests/random_ray_fixed_source_mesh/flat/results_true.dat
  tests/regression_tests/random_ray_fixed_source_mesh/linear/inputs_true.dat
  tests/regression_tests/random_ray_fixed_source_mesh/linear/results_true.dat
  tests/regression_tests/random_ray_fixed_source_mesh/test.py
Owners: @jtramm

Refactoring
  CMakeLists.txt
  include/openmc/ifp.h
  src/ifp.cpp
  src/physics.cpp
Owners: none

Detect the correct value for ifp_parameter based on tally scores
  openmc/settings.py
  src/settings.cpp
  src/tallies/tally.cpp
  tests/regression_tests/ifp/inputs_true.dat
  tests/regression_tests/ifp/test.py
Owners: none

Select IFP automatically with the default value of n_generation if an IFP tally is used
  include/openmc/constants.h
  openmc/settings.py
  src/settings.cpp
  src/tallies/tally.cpp
Owners: none

Update tests
  tests/regression_tests/ifp/inputs_true.dat
  tests/regression_tests/ifp/test.py
  tests/unit_tests/test_ifp.py
Owners: none

added eigenvalue mesh test
  tests/regression_tests/random_ray_k_eff_mesh/__init__.py
  tests/regression_tests/random_ray_k_eff_mesh/inputs_true.dat
  tests/regression_tests/random_ray_k_eff_mesh/results_true.dat
  tests/regression_tests/random_ray_k_eff_mesh/test.py
Owners: none

fixed mesh memo issue
  openmc/settings.py
Owners: none

added fw_cadis mesh test
  tests/regression_tests/weightwindows_fw_cadis_mesh/__init__.py
  tests/regression_tests/weightwindows_fw_cadis_mesh/inputs_true.dat
  tests/regression_tests/weightwindows_fw_cadis_mesh/results_true.dat
  tests/regression_tests/weightwindows_fw_cadis_mesh/test.py
Owners: none

add methods to compute hex-distaces
  include/openmc/hex_mesh.h
  src/hex_mesh.cpp
Owners: none

fix the hex count calculation
  src/hex_mesh.cpp
Owners: none

fix mislabeled method
  src/hex_mesh.cpp
Owners: none

whitespace
  src/hex_mesh.cpp
Owners: none

Update .github/workflows/pypi.yml
  .github/workflows/pypi.yml
Owners: none

Update tools/ci/manylinux.dockerfile
  tools/ci/manylinux.dockerfile
Owners: none

Update tools/ci/manylinux.dockerfile
  tools/ci/manylinux.dockerfile
Owners: none

Update docs/source/usersguide/install.rst
  docs/source/usersguide/install.rst
Owners: none

Update tools/ci/manylinux.dockerfile
  tools/ci/manylinux.dockerfile
Owners: none

Added Keff division, DelayedFilter check in score
  openmc/statepoint.py
  src/tallies/tally_scoring.cpp
Owners: none

Consistent spacing in rst files
  docs/source/io_formats/plots.rst
  docs/source/usersguide/plots.rst
Owners: none

Apply a few suggestions from code review
  src/mesh.cpp
Owners: none

Address comments in code review
  include/openmc/mesh.h
  openmc/lib/mesh.py
  src/mesh.cpp
Owners: @paulromano

added source region subdivision to docs
  docs/source/_images/2x2_sr_mesh.png
  docs/source/usersguide/random_ray.rst
Owners: none

Refactoring in progress
  include/openmc/eigenvalue.h
  include/openmc/ifp.h
  src/bank.cpp
  src/eigenvalue.cpp
  src/ifp.cpp
  src/simulation.cpp
  src/tallies/tally_scoring.cpp
Owners: none
